

/* basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

/* test for system scrollbar width would not work using this
.scroll-container {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }
}
*/


body {
    font-family: Helvetica, Verdana, Arial, Sans-Serif;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 300;
    letter-spacing: -0.17px;
    color: $text-color;
}



h1 {
    font-family: metropolis;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
    color: $blue;
    @include respond-to(handhelds) {
        font-size: 24px;
        line-height: normal;
    }
}
h2 {
    font-family: bebas;
    font-size: 30px;
    font-weight: normal;
    line-height: 0.8;
    color: $blue;
}
h3 {
    font-family: metropolis;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $blue;
}
h1,h2,h3,h4 {
    &:first-child {
        margin-top: 0;
    }
}

p {
    margin-bottom: 1.2em;
    text-align: left;
    line-height: $line-height;
}

ul, ol {
    margin-bottom: 0.6em;
    margin-left: 1em;
    li {
        line-height: $line-height;
        margin-bottom: 0.3em;
    }
}

img {
    outline: none;
}

em {
    font-size: 0.9em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-style: normal;
}

a {
    color: $blue;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

button, .button {
    &.blue {
        background-color: $blue;
        color: #fff;
    }
    height: 46px;
    border-radius: 24px;
    border: solid 2px $blue;
    background-color: transparent;
    font-family: bebas;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $blue;
    text-transform: uppercase;
    padding: 2px 30px 0;
    cursor: pointer;
    transition: all 0.3s;
    &:hover, &.animate {
        transform: scale(1.1);
    }
    a:hover {
        text-decoration: none;
    }
}

hr {
    height: 2px;
    color: $text-color;
    border: none;
    margin: 0;
}




.right  { text-align: right;  }
.center { text-align: center; }
.clearfix {
    @include clearfix;
}


.tooltip {
    position: relative;
    text-decoration: none;
    cursor: pointer;

    &:after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 130%;
        left: 20%;
        background: #ffcb66;
        padding: 5px 15px;
        color: black;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        white-space: nowrap;
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
}
.tooltip:hover:after {
    bottom: 100%;
    opacity: 1;
}

.flex-columns {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    .flex-item {

    }
}
