
.wrapper {
    padding: 2em $whitespace 10vw;
    max-width: 1000px;
    margin: 0 auto;
    width: calc(100% - 2 * #{$whitespace});
}

#content {
    h2:not(#accordeon .accordeon-item h2) {
        margin-bottom: 1em;
    }

    #dashboard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: stretch;
        grid-gap: 1em;
        grid-auto-flow: column;
        .button {
            height: auto;
        }
    }
}

#footer {
    margin-top: 100px;
}
