

#table {
    .error {
        height: 100%;
    }
    .loading {
        // create loader gif as background
        height: 100%;
        width: 100%;
        font-size: 0;
        background: url("../img/loading.gif") center/contain no-repeat;
    }

    table {
        white-space: normal;
        font-size: 11px;
        @include respond-to(handhelds) {
            font-size: 12px;
        }
        @include respond-to(x-small) {
            font-size: 11px;
        }
        @media only screen and (min-width: 1350px) {
            font-size: 12px;
        }
        @media only screen and (min-width: 1500px) {
            font-size: 14px;
        }
        table-layout: fixed;
        width: 100%;
        margin-right: 5px;
        position: relative;
        th, td {
            border-bottom: 1px solid $light-gray;
            overflow: hidden;
            font-family: Helvetica, Verdana, Arial, Sans-Serif;
            height: 41px;
            &.university {
                @include respond-to(handhelds) {
                    display: none;
                }
            }
        }
        tr {
            &.course-row {
                cursor: pointer;
                &:hover {
                    background: $light-gray;
                }
            }
            &.expansion-row {
                button, .button {
                    margin-right: 1em;
                    &:hover {
                        transform-origin: left center;
                    }
                    @include respond-to(screens) {
                        &.show_map {
                            display: none;
                        }
                    }
                }
            }
        }
        .expanded, .expanded + .expansion-row {
            background-color: #F2F2F2;
        }
        td {
            padding: 4px 8px 4px 2px;
            vertical-align: middle;
            &:last-child {
                padding-right: 0;
            }

        }
        tr:last-child td {
            border: none;
        }
        th {
            &.name { width: 25%; }
            &.university { width: 25%; }
            &.location { width: 20%; }
            &.period { width: 15%; }
            &.type { width: 15%; }
            @include respond-to(handhelds) {
                &.name { width: 30%; }
                //&.university { width: 25%; }
                &.location { width: 25%; }
                &.period { width: 20%; }
                &.type { width: 25%; }
            }

            font-family: bebas;
            font-size: 24px;
            font-weight: normal;
            text-align: left;
            color: $blue;
            margin-left: 5px;
            white-space: nowrap;
            &:last-child {
                margin-left: 0;
            }
            span {
                width: 10px;
                height: 10px;
                display: inline-block;
                position: relative;
                left: 5px;
                bottom: 5px;
                transform: rotate(45deg);
                border: 2px solid $blue;
                border-top: none;
                border-left: none;
                cursor: pointer;
                &:hover {
                    transform: rotate(-135deg);
                    bottom: 1px;
                }
            }
        }
    }
}
