

#table {
    .error {
        height: 100%;
    }

    table {
        font-size: 11px;
        @include respond-to(handhelds) {
            font-size: 12px;
        }
        @include respond-to(x-small) {
            font-size: 11px;
        }
        @media only screen and (min-width: 1350px) {
            font-size: 12px;
        }
        @media only screen and (min-width: 1500px) {
            font-size: 14px;
        }
        white-space: normal;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin-right: 5px;
        position: relative;
        th, td {
            border-bottom: 1px solid $light-gray;
            overflow: hidden;
            font-family: Helvetica, Verdana, Arial, Sans-Serif;
            height: 41px;
            &.university {
                @include respond-to(handhelds) {
                    display: none;
                }
            }
        }
        tr {
            &.course-row {
                cursor: pointer;
                &:hover {
                    color: $blue;
                    font-weight: bold;
                    font-size: 0.98em;
                }
            }
            &.expansion-row {
                button, .button {
                    margin-right: 1em;
                    &:hover {
                        transform-origin: left center;
                    }
                    @include respond-to(screens) {
                        &.show_map {
                            display: none;
                        }
                    }
                }
                td {
                    padding: 1.5em 0 2em;
                }
            }
        }
        .expanded, .expanded + .expansion-row {
            color: $blue;
            font-weight: bold;
            font-size: 0.98em;
        }
        .expanded {
            td {
                border-bottom: none;
            }
        }
        td {
            padding: 4px 8px 4px 2px;
            vertical-align: middle;
            &:last-child {
                padding-right: 0;
            }

        }
        tr:last-child td {
            border: none;
        }
        th {
            &.name { width: 25%; }
            &.university { width: 25%; }
            &.location { width: 20%; }
            &.period { width: 15%; }
            &.type { width: 15%; }
            @include respond-to(handhelds) {
                &.name { width: 30%; }
                //&.university { width: 25%; }
                &.location { width: 25%; }
                &.period { width: 20%; }
                &.type { width: 25%; }
            }

            font-family: bebas;
            font-size: 24px;
            font-weight: normal;
            text-align: left;
            color: $blue;
            margin-left: 5px;
            white-space: nowrap;
            cursor: pointer;
            transition: all 0.3s;
            transform-origin: left center;
            &:hover {
                transform: scale(1.05);
            }
            &:last-child {
                margin-left: 0;
            }
            .desc,.asc {
                width: 10px;
                height: 10px;
                display: inline-block;
                position: relative;
                left: 5px;
                bottom: 11px;
                transform: rotate(-135deg);
                border: 2px solid $blue;
                border-top: none;
                border-left: none;
                line-height: 0;
                font-size: 0;
                color: transparent;
            }
            .asc {
                transform: rotate(45deg);
                bottom: 14px;
            }
        }
    }
}
