

#filter {
    border-bottom: 2px solid $blue;
    margin-bottom: 15px;
    padding-top: calc(1rem - #{$whitespace});
    position: relative;
    @include clearfix;
    #reset {
        position: absolute;
        top: -0.3em;
        right: 0.1em;
        color: $blue;
        font-weight: bold;
        cursor: pointer;
        &::after {
            pointer-events: none;
            content: '';
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            width: 0.8em;
            height: 0.8em;
            border-radius: 100%;
            border: 2px solid $blue;
            background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, $blue 0%, $blue 44%, white 44%, white 56%, $blue 56%, $blue 100%);
            background: linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), linear-gradient(45deg, $blue 0%, $blue 44%, white 44%, white 56%, $blue 56%, $blue 100%);
            transition: all 0.3s ease;
            top: 2px;
            margin-left: 8px;
        }
        &:hover {
            text-decoration: none;
            &::after {
                transform: rotate(90deg);
            }
        }
    }
    // provide space for the resetter
    &.not-empty {
        form {
            padding-top: 1em;
        }
    }

    form {
        .styled-select {
            overflow-x: hidden;
            width: auto;
            display: inline-block;
            float: left;
            border-radius: 14px;
            border: 2px solid $blue;
            position: relative;
            margin-bottom: 1rem;
            margin-right: 1rem;
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 8px;
                height: 8px;
                right: 15px;
                top: 7px;
                border: 2px solid $blue;
                border-top: none;
                border-left: none;
                transform: rotate(45deg);
                cursor: pointer;
                pointer-events: none;
                transition: all 0.3s ease;
            }
            &:hover::after {
                transform: rotate(225deg);
                top: 10px;
            }
            select {
                @include reset-select;
                height: 26px;
                padding: 7px 12px 5px;
                border: none;
                font-size: 12px;
                line-height: 13px;
                font-weight: bold;
                color: $blue;
                //min-width: 120px;
                //max-width: 200px;
                width: 180px;
            }
        }
        #selectors {
            @include clearfix;
            .styled-select {
                float: left;
            }
        }
        #selection {
            @include clearfix;
            .styled-select {
                border: none;
                clear: both;
                float: left;
                &::after {
                    border-color: #fff;
                    top: 8px;
                }
                &:hover::after {
                    top: 12px;
                }
                select {
                    color: #fff;
                    background-color: $blue;
                    height: 30px;
                    padding: 7px 14px;
                    width: 184px;
                }
            }
            ul.selection {
                list-style: none;
                li {
                    display: inline-block;
                    float: left;
                    border: 2px solid $blue;
                    border-radius: 14px;
                    padding: 7px 20px 6px 30px;
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                    font-size: 12px;
                    line-height: 13px;
                    font-weight: bold;
                    color: white;
                    background-color: $blue;
                    position: relative;
                    cursor: pointer;
                    &:first-child {
                        margin-left: 0;
                    }
                    &::before {
                        pointer-events: none;
                        content: '';
                        position: absolute;
                        display: block;
                        box-sizing: border-box;
                        width: 10px;
                        height: 10px;
                        background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 44%, white 44%, white 56%,transparent 56%, transparent 100%);
                        background: linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%);
                        transition: all 0.3s ease;
                        top: 8px;
                        left: 12px;
                    }
                    &:hover {
                        &::before {
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
        #presence-type {
            list-style: none;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            margin: 0;
            margin-bottom: 1rem;
            border: 2px solid $blue;
            border-radius: 14px;
            overflow: hidden;
            padding: 0;
            box-sizing: border-box;
            //width: 184px;
            width: 280px;
            li {
                font-size: 12px;
                font-weight: bold;
                color: $blue;
                padding: 3px 8px 2px;
                margin: 0;
            }
            li.label {
                padding-left: 15px;
            }
            li.option {
                cursor: pointer;
                padding: 3px 8px 2px;
                &:last-child {
                    padding-right: 15px;
                }
                &.selected {
                    background-color: $blue;
                    color: white;
                    cursor: default;
                }
                &:hover {
                    background-color: $blue;
                    color: white;
                }
            }
        }
    }
}
