.optionals {

    .required > label {
        &::after{
            content: ' *';
            vertical-align: super;
        }
    }
}
.input.paragraph {
    p { margin-bottom: 0; }
}

form {
    @include clearfix;
    fieldset.invisible {
        border: none;
        margin-top: 3em;
    }
    label {
        font-weight: bold;
        color: $blue;
    }
    input,textarea,select {
        border: 1px solid $blue;
        border-radius: 4px;
        background-color: #fff;
        -ms-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        padding: 5px 5px 3px;
        font-size: 0.9em;
        font-family: Metropolis;
        color: inherit;
    }
    input[readonly] {
        border: none;
        font-weight: bold;
        padding-top: 8px;
        color: $gray;
    }
    textarea[readonly],textarea[disabled] {
        border: none;
        color: $gray;
    }

    @include reset-select;

    .checkbox {
        margin-left: 0;
        padding: 5px;

        label {
            display: inline;
        }
        input[type=checkbox] {
            width: 10px;
            margin-right: 10px;
            display: inline;
            vertical-align: middle;
        }
    }

    .input {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'label input';
        grid-column-gap: 1em;
        grid-row-gap: 0.5em;
        justify-items: start;       // left/right orientation
        align-items: start;         // top/bottom
        justify-content: stretch;   // align the grid itself
        grid-auto-flow: row;        // for errors
        grid-auto-rows: auto;
        @include respond-to(handhelds) {
            grid-column-gap: 1em;
        }
        margin-bottom: 1em;


        label {
            grid-area: label;
            margin-bottom: 0.5em;
            min-width: 88px;
        }
        input,textarea,select, .radio-inline,.checklist-toggle {
            grid-area: input;
            justify-self: stretch;
            width: 100%;
            &.form-error {
                border-color: $red;
            }
        }
        .radio-inline {
            label {
                display: inline;
                margin-right: 2em;
            }
            input[type=radio] {
                width: 10px;
                margin-right: 10px;
                display: inline;
                vertical-align: text-top;
            }
        }
        .error-message {
            grid-row: 2;
            grid-column: 2;
            justify-self: stretch;
            font-size: 0.9em;
            font-weight: bold;
            color: $red;
        }
    }
}
