

form {
    label {
        font-weight: bold;
        color: $blue;
    }
    input,textarea,select {
        border: 2px solid $blue;
        border-radius: 4px;
        background-color: #fff;
        -ms-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        padding: 4px;
    }
    select {
        padding: 0;
    }
    .input {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1em;
        label {
            flex: 0 0 40%;
            margin-bottom: 0.5em;
        }
        input,textarea,select {
            flex: 0 0 50%;
            margin-bottom: 0.5em;
        }
    }
}
