.optionals {

    .required > label {
        &::after{
            content: ' *';
            vertical-align: super;
        }
    }
}

form {
    label {
        font-weight: bold;
        color: $blue;
    }
    input,textarea,select {
        border: 1px solid $blue;
        border-radius: 4px;
        background-color: #fff;
        -ms-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        padding: 4px;
    }
    select {
        @include reset-select;
    }
    .input {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 'label input';
        grid-column-gap: 1em;
        grid-row-gap: 0.5em;
        justify-items: start;       // left/right orientation
        align-items: start;         // top/bottom
        justify-content: stretch;   // align the grid itself
        grid-auto-flow: row;        // for errors
        grid-auto-rows: auto;
        @include respond-to(handhelds) {
            grid-column-gap: 1em;
        }
        margin-bottom: 1em;



        label {
            grid-area: label;
            margin-bottom: 0.5em;
        }
        input,textarea,select {
            grid-area: input;
            justify-self: stretch;
            &.form-error {
                border-color: $red;
            }
        }
        .error-message {
            grid-row: 2;
            grid-column: 2;
            justify-self: stretch;
            font-size: 0.9em;
            font-weight: bold;
            color: $red;
        }
    }
}
