


#header {
    //font-size: 12px;
    position: relative;
    overflow: hidden;
    width: calc(100% - 54px);
    margin: 27px;         // top margin is sticking out of body, padding makes the box height shrink
    display: inline-flex;   // hack...
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;    // dynamic height calculation won't work with 'nowrap'
    height: auto;
    @include respond-to(handhelds) {
        margin: 13px;
        width: calc(100% - 30px);
        padding: 0 2px 13px 10px;
        border-bottom: 2px solid $blue;
    }

    #logo {
        flex-shrink: 0;
        white-space: nowrap;
        overflow: hidden;
        a.img {
            @include respond-to(handhelds) {
                display: none;
            }
            img {
                display: block;
                float: left;
                margin: 0;
            }
        }
        @include respond-to(handhelds) {
            transform: scale(0.8);
            transform-origin: left center;
        }
        .title {
            min-height: 61px;
            width: auto;
            float: left;
            @include respond-to(screens) {
                margin-left: 10px;
            }
            @include logo-text(1);
            h1 {
                margin: 12px 0 0;
            }
        }
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: auto;

        button {
            // generic button defined in _basics
            margin: 0 10px;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            @include respond-to(handhelds) {
                font-size: 24px;
                width: 50px;
                height: 50px;
                padding: 2px 0 0;
                margin: 0;
                &#login-button {
                    display: none;
                }
            }
        }
    }
}


