


#header {
    //font-size: 12px;
    position: relative;
    overflow: visible;
    width: calc(100% - 54px);
    margin: 1rem 3px;         // top margin is sticking out of body, padding makes the box height shrink
    display: inline-flex;   // hack...
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;    // dynamic height calculation won't work with 'nowrap'
    height: auto;
    @include respond-to(handhelds) {
        margin: 13px;
        width: calc(100% - 50px);
        padding: 0 3px 13px 3px;
        border-bottom: 2px solid $blue;
    }

    #logo {
        flex-shrink: 0;
        white-space: nowrap;
        overflow: hidden;
        a {
            display: block;
            line-height: 0;
            img {
                width: 300px;
                height: auto;
                @include respond-to(handhelds) {
                    width: 40vw;
                    min-width: 180px;
                }
            }
        }
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: auto;

        button, .button {
            // generic button defined in _basics
            margin: 0 10px;
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            &#notification-button {
                padding-top: 9px;
                position: relative;
                .glyphicon-bell {
                    color: $blue;
                    font-size: 16px;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    background-color: #fff;
                    border-radius: 11px;
                    border: 3px solid $blue;
                    padding: 1px;
                }
            }
            @include respond-to(handhelds) {
                font-size: 23px;
                width: 50px;
                height: 50px;
                border-radius: 29px;
                padding-left: 0;
                padding-right: 0;
                margin: 0;
                margin-left: 10px;
                &#info-button {
                    padding-top: 10px;
                }
                &#story-button {
                    font-size: 16px;
                    padding-top: 14px;
                }
                &#notification-button {
                    .glyphicon-envelope {
                        font-size: 18px;
                    }
                    .glyphicon-bell {
                        font-size: 11px;
                        top: 8px;
                        border-width: 2px;
                    }
                }
                &#login-button {
                    display: none;
                }
            }
        }
    }
}


