body.view {
    .leaflet-marker-icon {
        cursor: default;
    }
    .button.show_view {
        display: none;
    }
}

body.index, body.view {
    height: 100vh;
    padding: 0 $whitespace;
    max-width: $max_width;
    background-color: #fff;
    margin: 0 auto;
    width: calc(100% - 2 * #{$whitespace});
    overflow: hidden;
    @include respond-to(handhelds) {
        padding: 0;
        margin: 0;
        max-width: initial;
        width: 100%;
    }

    #container {
        height: calc(100% - 144px);     // recalculated by App.updateSize() to get actual header size & margins
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
        top: 0;
        overflow: hidden;

        @import "view";


        .loading {
            // create loader gif as background
            height: 100%;
            width: 100%;
            font-size: 0;
            background: url("../img/loading.gif") center/contain no-repeat;
        }

        @include respond-to(screens){
            min-width: $break_point;

            #table {
                flex: 1 0 500px;
                margin-right: 15px;
                padding-top: $whitespace;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    display: block;
                    height: 2px;
                    background-color: $blue;
                    width: calc(100% - 16px);   // scrollbar width and padding, align with filter box
                }
            }

            #map-wrapper {
                flex: 1 1 220px;
                position: relative;
                height: 100%;
            }
            #map {
                height: calc(100% - 2em);
            }
            #map-footer {
                width: 100%;
                bottom: 0;
                position: absolute;
            }

            #slide-control, #container-footer {
                display: none;
            }
        }
        @include respond-to(handhelds){
            width: 100%;
            min-width: initial;
            position: initial;

            #map-wrapper {
                width: 100%;
                flex: 0 0 100%;
            }
            #map {
                height: 100%;
            }
            #map-footer {
                display: none;
            }

            #table {
                padding: 0 5px 0 $whitespace;
                flex: 0 0 calc(100% - #{$whitespace});
                margin-right: $whitespace + 30px;       // make sure the scrollbar width is moved over
                &::after {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 50px;
                    background-image: -webkit-linear-gradient(rgba(255,255,255, 0), #fff);
                    background-image: linear-gradient(rgba(255,255,255, 0), #fff);
                    border-bottom: 2px solid $blue;
                    content: "";
                    z-index: 1000;
                    pointer-events: none;
                }
                .thumb, .track {
                    z-index: 1000;
                }
            }
            #slide-control {
                display: block;
                position: absolute;
                height: 50px;
                width: 50px;
                bottom: 30px;   // keept in sync with App.updateSize
                left: 0;
                right: 0;
                margin: 0 auto;
                background: url("../img/slide-toggle.png") left top no-repeat;
                background-size: cover;
                z-index: 10000;
                cursor: pointer;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.1, 1.1);
                }
            }

            #container-footer {
                display: block;
                position: absolute;
                width: calc(100% - #{2 * $whitespace});
                margin: 0 auto;
                bottom: 10px;
                left: 0;
                right: 0;
                z-index: 10000;
            }
        }

        @import "course-table";
    }
}

