

body.home {
    height: 100vh;
    padding: 0 $whitespace $whitespace;
    max-width: $max_width;
    background-color: #fff;
    margin: 0 auto;
    width: calc(100% - 2 * #{$whitespace});
    @include respond-to(handhelds) {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: normal;
        padding: 0;
        margin: 0;
        max-width: initial;
        width: 100%;
    }

    @import "intro";

    #container {
        height: calc(100% - 144px);     // better way to calculate header height?
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
        top: 0px;
        overflow: hidden;

        @include respond-to(screens){
            min-width: $break_point;

            #table {
                flex: 1 0 500px;
                border-top: 2px solid $blue;
                margin-right: 15px;
                padding-top: $whitespace;
            }
            #map {
                flex: 1 1 220px;
            }
            #slide-control {
                display: none;
            }
        }
        @include respond-to(handhelds){
            width: 100%;
            min-width: initial;

            #map {
                width: 100%;
                flex: 0 0 100%;
            }

            #table {
                padding: 0 0 0 13px;
                flex: 0 0 calc(100% - 2 * #{$whitespace});
                margin-right: 10px;
            }
            #slide-control {
                display: block;
                position: absolute;
                height: 50px;
                width: 40px;
                bottom: 10px;
                left: 0;
                right: 0;
                margin: 0 auto;
                background-color: #4A4A4A;
                z-index: 500;
                cursor: pointer;
                &:hover {
                    background-color: #d58512;
                }
            }
        }

        @import "course-table";
    }
}

