

body.home {
    height: 100vh;
    width: calc(100% - 20px);
    padding-bottom: $whitespace;



    #container {
        //height: calc(100% - 140px);
        height: calc(100% - 12vw);
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
        top: 0px;
        overflow: hidden;

        &.screens {
            min-width: $break_point;

            #table {
                flex: 1 0 500px;
                margin-right: $whitespace;
            }
            #map {
                flex: 1 1 220px;
            }
        }
        &.mobile {
            width: 100%;
            #table, #map {
                width: 100%;
                flex: 0 0 100%;
            }

            #slide-control {
                position: absolute;
                height: 50px;
                width: 40px;
                bottom: 10px;
                left: 0;
                right: 0;
                margin: 0 auto;
                background-color: #4A4A4A;
                z-index: 500;
                cursor: pointer;
                &:hover {
                    background-color: #d58512;
                }
            }
        }



        #table {
            padding: 1px;


            .error {
                height: 100%;
            }
            .loading {
                // create loader gif as background
                height: 100%;
                font-size: 0;
            }
        }
        #map {

        }
        #table, #map {

        }
    }
}

