

body.home {
    height: 100vh;
    width: calc(100% - 20px);
    padding-bottom: $whitespace;

    #header {
        width: 100%;
        height: 130px;
        margin-bottom: $whitespace;
        background-color: $blue;

        @include respond-to(screens) {
            min-width: $break_point;
        }
    }

    #container {

        @include respond-to(screens) {
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;
            position: relative;
            top: 0px;
            height: calc(100% - 140px);
            min-width: $break_point;
        }

        #table {
            padding: 10px;

            @include respond-to(screens) {
                flex: 1 0 500px;
                margin-right: $whitespace;
            }

            .error {
                height: 100%;
            }
            .loading {
                // create loader gif as background
                height: 100%;
                font-size: 0;
            }
        }
        #map {
            flex: 1 1 220px;
            background-color: $green;
        }
        #table, #map {

        }
    }
}

