#page-head {
    @media only screen and (max-width: 580px) {
        margin-bottom: 1em;
        h1 { display: none; }
    }
}

#content {
    display: grid;
    grid-template-columns: min(23vw, 200px) auto;
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    justify-content: center; // align the grid itself
    align-content: space-between;
    grid-template-areas:
            'joint-logo intent'
            'content content';
    @include respond-to(handhelds) {
        grid-column-gap: 6vw;
    }
    h1 { display: none; }
    @media only screen and (max-width: 580px) {
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1em auto auto;
        grid-template-areas:
            'joint-logo  dhcr-logo'
            '.           .'
            'intent intent'
            'content content';
        h1 {
            display: block;
            grid-area: dhcr-logo;
            text-align: center;
            font-size: 0;
            color: transparent;
            align-self: center;
            justify-self: start;
            img {
                display: block;
                margin: 0 auto;
                height: auto;
                width: 45vw;
                max-width: 500px;
                min-width: 170px;
                @include respond-to(handhelds) {
                    width: 50vw;
                }
                @media only screen and (max-width: 580px) {
                    margin: 0;
                }
            }
        }
    }
    @include respond-to(x-small) {
        grid-column-gap: 1em;
    }

    .joint-logo {
        grid-area: joint-logo;
        justify-self: start;
        align-self: start;
        display: block;
        width: 23vw;
        max-width: 200px;
        min-width: 176px;
        height: auto;
        @include respond-to(handhelds) {
            width: 20vw;
            min-width: 150px;
        }
        @media only screen and (max-width: 580px) {
            justify-self: end;
            width: 16vw;
            min-width: 70px;
        }
    }
    .title, .intent {
        margin-top: 0;
        grid-area: intent;
        p {
            @media only screen and (max-width: 580px) {
                text-align: center;
            }
        }
        h2 {
            margin-bottom: 1em;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
            color: $blue;
            @media only screen and (max-width: 580px) {
                font-size: 16px;
            }
            a {
                font-weight: bold;
                color: $link_blue;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    #accordeon {
        grid-area: content;
    }
}
