

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;

    .overlay-container {
        margin: 0 auto;
        min-height: 100vh;
        width: calc(100vw - 15px);
        // should be 2 * $whitespace, but as scrollbar does not resize on zoom, contents are not covered
        // now works up to 80% zoom
        padding: 100px 150px - $whitespace 150px 150px - $whitespace;
        max-width: $max_width;          // - additional framing space
        background-color: #fff;
        &.transparent {
            // make the app visible through opaque overlay
            background:rgba(0,0,0,0.4);
            height: 300px;
        }
        &:last-child {
            min-height: 100vh;
            box-sizing: border-box;
        }
        @include logo-text(1.5);
        @include respond-to(handhelds) {
            @include logo-text(1);
        }
        h1 {
            margin: 0 auto 80px;
            text-align: center;
        }
        .img,img {
            float: left;
            display: block;
            clear: both;
            margin-right: 50px;
            width: 23vw;
            max-width: 256px;
            min-width: 180px;
            height: auto;
            @include respond-to(handhelds) {
                width: 200px;
                float: none;
                margin: 0 auto 50px;
            }
        }
        p {
            //font-size: 24px;
            font-size: 1.7vw;
            line-height: 1.5;
            color: $blue;
            em {
                font-weight: bold;
            }
            @media only screen and (min-width: 1270px) {
                font-size: 24px;
            }
            @media only screen and (max-width: 890px) {
                //font-size: 17px;
            }
            @include respond-to(handhelds) {
                font-size: 17px;
            }
        }
        .flex-item {
            width: 45%;
            h2 {
                font-size: 50px;
                text-align: center;
                margin-bottom: 65px;
            }
            p {
                color: $blue;
                font-size: 24px;
                line-height: 1.25;
            }
            button {
                float: left;
                &.blue {
                    float: right;
                }
            }
        }
    }
}
