
@mixin overlay-container($p-top,$p-right,$p-bottom,$p-left) {
    margin: 0 auto;
    width: 100%;
    padding: $p-top $p-right $p-bottom $p-left;
    max-width: $max_width;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent;

    .overlay-container {
        @include overlay-container(100px, 150px - $whitespace, 150px, 150px - $whitespace);
        background-color: #fff;

        @media only screen and (max-width: 1000px) {
            padding: 90px 100px 100px;
        }

        @media only screen and (max-width: 885px) {
            padding: 80px 70px 80px;
        }

        @include respond-to(handhelds) {
            padding: 50px 30px 50px;
        }

        &.transparent {
            // make the app visible through opaque overlay
            background:rgba(0,0,0,0.4);
            height: 90vh;
        }
        &:last-child, &:first-child {
            min-height: 100vh;
            box-sizing: border-box;
        }
    }
}

#intro, #page-head {
    .clarin-dariah-logo {
        float: left;
        display: block;
        clear: both;
        margin-right: 50px;
        width: auto;
        img {
            display: block;
            width: 23vw;
            max-width: 256px;
            min-width: 120px;
            height: auto;
        }
    }
    @include respond-to(screens) {
        @media only screen and (min-width: 1001px) {
            @include logo-text-scaled(2);
        }
        @media only screen and (max-width: 1000px) {
            @include logo-text-vwr(0.6);
        }
    }
    @include respond-to(handhelds) {
        @include logo-text-vwr(0.8);
        .clarin-dariah-logo {
            float: none;
            display: block;
            width: min-content;
            margin: 0 auto 50px;
            img {
                height: 120px;
                width: auto;
            }
        }
    }
    h1 {
        margin: 0 auto 80px;
        text-align: center;
    }
    p.intent {
        font-size: 1.95vw;
        line-height: 1.5;
        color: $blue;
        @media only screen and (min-width: 1127px) {
            font-size: 24px;
        }
        @include respond-to(handhelds) {
            font-size: 24px;
            text-align: center;
            margin: 0 auto 1em;
            max-width: 430px;
            @media only screen and (max-width: 690px) {
                font-size: 20px;
            }
            @media only screen and (max-width: 400px) {
                font-size: 17px;
            }
        }
    }

    .flex-item {
        // students & lecturers
        h2 {
            font-size: 50px;
            text-align: center;
            margin-bottom: 1em;
            margin-top: 1.5em;
        }
        .illustration {
            display: block;
            height: auto;
            width: calc(100% - 20px);
            margin-right: 15px;
            margin-left: 5px;
            margin-bottom: 50px
        }
        @include respond-to(handhelds) {
            .illustration {
                width: calc(100% - 10vw);
                max-width: 400px;
                margin: 0 auto 4em;
            }
        }
        p {
            color: $blue;
            font-size: 1.95vw;
            line-height: 1.25;
            @media only screen and (min-width: 1127px) {
                font-size: 24px;
            }
            @include respond-to(handhelds) {
                font-size: 24px;
                text-align: center;
                flex: 1 1 45%;
                margin: 0 auto 5em;
                max-width: 430px;
                @media only screen and (max-width: 690px) {
                    font-size: 20px;
                }
                @media only screen and (max-width: 400px) {
                    font-size: 17px;
                }
            }
        }
        button, .button {
            margin: 40px auto 0;
            display: block;
            width: min-content;
            white-space: nowrap;
        }
    }
}
