body.login {
    .wrapper {
        max-width: 750px;
    }
}


#login-alternatives {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    gap: 1em;
    flex-wrap: wrap;
}

