/* MarkerCluster.css - Spider */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
    /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}


.marker-cluster {
    border: 5px solid rgba(256,256,256,0.5);
    background-color: $blue;
    display: flex !important;
    justify-content: center;
    align-items: center;
    // make the bg shine through border or not:
    //background-clip: content-box;
    div {
        text-align: center;
        color: #fff;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
}
.marker-cluster-large {
    border-radius: 30px;
}
.marker-cluster-medium {
    border-radius: 25px;
}
.marker-cluster-small {
    border-radius: 20px;
}


