#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: auto;

    button, .button {
        // generic button defined in _basics
        margin: 0 10px;
        &.menu-button {
            position: relative;
        }
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 0;
        }
        .glyphicon {
            font-size: 0;
            &::before {
                font-size: 27px;
            }
        }
        &#notification-button {
            padding-top: 9px;
            position: relative;
            .glyphicon-bell {
                &::before { font-size: 16px; }
                color: $blue;
                position: absolute;
                right: 8px;
                top: 5px;
                background-color: #fff;
                border-radius: 11px;
                border: 1px solid $blue;
                padding: 3px 2px 1px;
            }
            .glyphicon-envelope {
                right: 1px;
                top: 0;
            }
        }
        @include respond-to(handhelds) {
            .glyphicon {
                &::before {
                    font-size: 27px;
                }

                margin-top: 2px;
            }
            font-size: 23px;
            width: 50px;
            height: 50px;
            border-radius: 29px;
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            margin-left: 10px;

            &#notification-button {
                .glyphicon-envelope {
                    &::before {
                        font-size: 26px;
                    }
                    top: 1px;
                    right: 0px;
                }
                .glyphicon-bell {
                    &::before {
                        font-size: 13px;
                    }

                    top: 5px;
                    right: 6px;
                    border-width: 1px;
                    padding-top: 2px;
                }
            }
        }

        @include respond-to(x-small) {
            &#notification-button {
                display: none;
            }
        }
    }
}



#sitemap {
    display: none;
}


#modal-wrapper.sitemap {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 30px;

    @include respond-to(x-small) {
        align-items: flex-start;
        justify-content: stretch;
        padding: 5px;

        #modal-content {
            width: calc(100vw - 10px);
        }
    }
}

#sitemap, .sitemap {
    ul { margin: 0 0 1em; }
    p { margin: 0 0 0.5em; }
    .glyphicon {
        font-size: 0.9em;
        margin-right: 0.8em;
        color: $blue;
        position: relative;

        .glyphicon-bell {
            position: absolute;
            font-size: 0.5em;
            border-radius: 100%;
            border: 2px solid $blue;
            top: -0.3em;
            left: 1.1em;
            margin: 0;
            padding: 1px;
            background-color: #fff;
        }
    }
    ul {
        list-style: none;
        li {
            // h2
            font-family: Bebas, sans-serif;
            font-size: 25px;
            font-weight: normal;
            line-height: 0.8;
            color: $blue;
            margin-bottom: 1em;
            &:first-child {
                margin-top: 0;
            }
            ul {
                margin-left: 1em;
                li {
                    // h3
                    font-family: Metropolis, sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $gray;
                }
            }
        }
    }
}
