

/* Color schema */
$clarin_blue	: #07426e;  //2387aa
$dariah_blue	: #1E6BA3;
$blue			: $dariah_blue;
$green			: #61A845;
$red            : #020000;
$gray           : #6d7278;
$light-gray     : #d8d8d8;




/* general text formatting */
$text-color     : $gray;
$em-color       : #333;
$line-height    : 1.7em;


/* base layout & responsive sizing */

/* amount of space to reserve for lateral whitespace */
$max_width  : 90rem;    // 1440px
$break_point: 750px;
$whitespace : 15px;      // relative to height, so padding does not change on resize



@font-face {
    font-family: Bebas;
    src: url(../fonts/bebas_neue/BebasNeue-Regular.otf) format("opentype");
}
@font-face {
    font-family: Bebas-Bold;
    src: url(../fonts/bebas_neue/BebasNeue-Bold.otf) format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: Metropolis-SemiBold;
    src: url(../fonts/metropolis/Metropolis-SemiBold.otf) format("opentype");
    font-weight: bolder;
}
@font-face {
    font-family: Metropolis;
    src: url(../fonts/metropolis/Metropolis-Regular.otf) format("opentype");
}

/* breakpoint definition - use this mixin where appropriate */
/*
1080 - 1280

720 - 800

320
*/
@mixin respond-to($media) {
    @if $media == x-small {
        // smallest iPhone 350px
        @media only screen and (max-width: 400px) { @content; }
    }
    @else if $media == handhelds {
        // 500 - 700px
        @media only screen and (max-width: $break_point) { @content; }
    }
    // default
    @else if $media == screens {
        // tablets & small laptops
        @media only screen and (min-width: $break_point + 1) { @content; }
    }
    @else if $media == x-large {
        // 80 em on 16px fontsize -> 1280px
        @media only screen and (min-width: 1040px) { @content; }
    }
}


// mixin to suppress default styles for select-boxes
@mixin reset-select {
    .input.select {
        position: relative;
        @include caret;
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            font-family: Metropolis;
            &:hover {
                background-color: #eee;
            }
            &::-ms-expand {
                display: none;
            }
            &:focus::-ms-value {
                background-color: transparent;
            }
        }
    }
}

@mixin caret {
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        right: 15px;
        top: 5px;
        border: 2px solid $blue;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        cursor: pointer;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    &:hover::after {
        transform: rotate(225deg);
        top: 10px;
    }
}


@mixin clearfix() {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
