

/* Color schema */
$clarin_blue	: #07426e;  //2387aa
$dariah_blue	: #1E6BA3;
$blue			: $dariah_blue;
$green			: #61A845;
$red            : #020000;
$gray           : #6d7278;
$light-gray     : #d8d8d8;




/* general text formatting */
$text-color     : $gray;
$em-color       : #333;
$line-height    : 1.7em;


/* base layout & responsive sizing */

/* amount of space to reserve for lateral whitespace */
$max_width  : 90rem;    // 1440px
$break_point: 750px;
$whitespace : 15px;      // relative to height, so padding does not change on resize



@font-face {
    font-family: Bebas;
    src: url(../fonts/bebas_neue/BebasNeue-Regular.otf) format("opentype");
}
@font-face {
    font-family: Bebas-Bold;
    src: url(../fonts/bebas_neue/BebasNeue-Bold.otf) format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: Metropolis-SemiBold;
    src: url(../fonts/metropolis/Metropolis-SemiBold.otf) format("opentype");
    font-weight: bolder;
}
@font-face {
    font-family: Metropolis;
    src: url(../fonts/metropolis/Metropolis-Regular.otf) format("opentype");
}

/* breakpoint definition - use this mixin where appropriate */
/*
1080 - 1280

720 - 800

320
*/
@mixin respond-to($media) {
    @if $media == x-small {
        // smallest iPhone 350px
        @media only screen and (max-width: 400px) { @content; }
    }
    @else if $media == handhelds {
        // 500 - 700px
        @media only screen and (max-width: $break_point) { @content; }
    }
    // default
    @else if $media == screens {
        // tablets & small laptops
        @media only screen and (min-width: $break_point + 1) { @content; }
    }
    @else if $media == x-large {
        // 80 em on 16px fontsize -> 1280px
        @media only screen and (min-width: 1040px) { @content; }
    }
}


// mixin to suppress default styles for select-boxes
@mixin reset-select {
    .input.select:not(.checkbox) {
        @include caret;
        display: grid;
        grid-template-areas: 'input';
        justify-items: start;       // left/right orientation
        align-items: start;         // top/bottom
        justify-content: stretch;   // align the grid itself
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            font-family: Metropolis;
            grid-area: input;
            &:hover {
                background-color: #eee;
            }
            &::-ms-expand {
                display: none;
            }
            &:focus::-ms-value {
                background-color: transparent;
            }
        }
    }
}

@mixin caret {
    &::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        margin-top: 6px;
        margin-right: 8px;
        grid-area: input;
        justify-self: end;
        align-self: start;
        border: 2px solid $blue;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
        cursor: pointer;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    &:hover::after {
        transform: rotate(225deg);
        margin-top: 10px;
    }
}


@mixin clearfix() {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}


@mixin notifications() {
    .notice, .error {
        padding: 1.2em;
        border: 1px solid #ffbf01;
        border-radius: 5px;
        background-color: #ffe59cf7;
        font-weight: bolder;
        color: $text-color;
        font-size: 0.8rem;
        margin-bottom: 2em;
        input, label {
            font-size: 1rem;
        }
        select {
            font-size: 0.9rem;
        }
        dd {
            color: $text-color;
            font-size: 1em;
        }
        h1,h2,h3,h4,dt {
            font-size: 1em;
            color: $text-color;
        }
    }
    .error {
        border: 1px solid #af3434;
        background-color: #e8adad;
    }
}
