#view {
    h1 {
        font-size: 25px;
        font-family: Metropolis;
        font-weight: bold;
        margin: 0 0 0.5em;
        padding-top: 1em;   // for margin sticking out of containing box problem
        @include respond-to(handhelds) {
            font-size: 20px;
        }
    }
    .subtitle {
        font-style: italic;
        font-size: 18px;
        @include respond-to(handhelds) {
            font-size: 14px;
        }
    }
    .text, .term, .data, a:not(.button) {
        font-size: 14px;
    }
    .strong {
        font-weight: bold;
        margin-bottom: 0;
        color: $blue;
    }
    .text {
        white-space: pre-line;
        margin-bottom: 2em;
    }
    hr {
        @include respond-to(handhelds) {
            display: none;
        }
        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
            &::after {
                content: "";
                display: block;
                height: 5em;
            }
        }
    }
    #locationMap {
        @include respond-to(screens) {
            display: none;
        }
        height: 300px;
        width: 100%;
        margin: 3em 0 3em;
        clear: both;
        .leaflet-marker-icon {
            cursor: grab;
        }
    }
    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 20px - $whitespace 0;
        padding: 0 0;
        border-bottom: 2px solid $blue;
        @include respond-to(x-small) {
            justify-content: center;
        }
        button, .button {
            flex: 0 0 25%;
            min-width: 160px;
            margin: 0 10px 20px 10px;
            box-sizing: border-box;
            &::before {
                height: 7px;
                width: 7px;
            }
            &:hover, &.animate {
                transform-origin: left center;
                text-decoration: none;
                &.sharing {
                    transform-origin: right center;
                }
            }
        }
    }

    $grid-break: 980px;
    .grid-container {
        display: grid;
        grid-column-gap: 4%;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, [col-start] minmax(250px, 48%) [col-end]);
        margin-bottom: 1em;
        @media only screen and (max-width: $grid-break) {
            grid-template-columns: [col-start] 100% [col-end];
        }
        .item {
            display: grid;
            grid-column-gap: 5%;
            grid-template-columns: [col-start] minmax(95px, 120px) [col-middle] 6.5fr [col-end];
            padding: 0;
            margin-bottom: 0.15em;
            .term, .data {
                margin-bottom: 0.3em;
                @include respond-to(screens) {
                    margin-bottom: 0;
                }
            }
            .term {
                overflow: hidden;
                color: $blue;
                font-weight: bold;
            }
            .data {
                grid-column-end: span 1;
                overflow: hidden;
            }
            // default span is one, but not for single-colums: span from first to last line
            &.single-col {
                grid-column: col-start 1 / col-end -1;
                grid-column-gap: 2%;
                // account for the gap
                grid-template-columns: repeat(2, [col-start] minmax(95px, 120px) [col-middle] 6.6fr [col-end]);
                @media only screen and (max-width: $grid-break) {
                    //grid-template-columns: [col-start] minmax(95px, 120px) [col-middle] 6.5fr [col-end];
                    grid-column-gap: 5%;
                }
                // data spans all columns except for the first
                .data {
                    grid-column: col-middle 1 / col-end -1;
                }
            }
        }
    }
}
