

@import "mixins";

@import "basics";

@import "glyphicons";

@import "modal";

@import "menu";

@import "default_layout";

@import "flash_message";

@import "form";

@import "dropdown_select";

@import "accordeon";

@import "stories";

@import "login";



html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    position: relative;
    .wrapper {
        padding: 2em $whitespace 10vw;
        max-width: 1000px;
        margin: 0 auto;
        width: calc(100% - 2 * #{$whitespace});
    }
}



.css-columns {
    column-count: 2;
    column-gap: 1em;
    @include respond-to(x-small) {
        column-count: 1;
    }
    &.moderators,&.admins {
        .item {
            -webkit-column-break-inside: avoid; /* Chrome, Safari */
            page-break-inside: avoid; /* Theoretically FF 20+ */
            break-inside: avoid-column; /* IE 11 */
            .country {
                font-family: Metropolis, sans-serif;
                font-weight: bold;
                color: $blue;
                display: block;
                margin-bottom: 0;
            }
            .moderators a {
                color: $gray;
            }
        }
    }
    &.admins {
        margin-bottom: 3em;
    }
}

.flex-columns {
    justify-content: space-between;
    .flex-item {
        overflow: hidden;
        padding-bottom: $whitespace;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }

    }
}


