/* MarkerCluster.css - Spider */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
    /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}


.marker-cluster {
    border: 5px solid rgba(256,256,256,0.5);
    background-color: $blue;
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    // make the bg shine through border or not:
    //background-clip: content-box;
    div {
        text-align: center;
        color: #fff;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: bold;
        line-height: 1;

    }
}
.marker-cluster-large {
    border-radius: 30px;
    span {
        font-size: 24px
    }
}
.marker-cluster-medium {
    border-radius: 25px;
    span {
        font-size: 20px
    }
}
.marker-cluster-small {
    border-radius: 20px;
    span {
        font-size: 15px
    }
}



.leaflet-popup {
    .leaflet-popup-close-button {
        display: none;
    }
    .leaflet-popup-tip, .leaflet-popup-content-wrapper {
        background-color: $blue;
    }
    .leaflet-popup-content {
        @include clearfix;
        margin: 15px;
        .show_view.button, button.show_view {
            height: 23px;
            border-radius: 12px;
            font-size: 12px;
            padding: 3px 15px 0;
            margin: 0;
            float: right;
            &::after {
                width: 5px;
                height: 5px;
                display: inline-block;
                position: relative;
                left: 0;
                bottom: 1px;
                border: 2px solid $blue;
                border-top: none;
                border-left: none;
                content: '';
                transform: rotate(-45deg);
                margin-left: 5px;
            }
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.1);
                transform-origin: right center;
            }
        }
        p {
            color: #fff;
            font-family: metropolis;
            font-size: 11px;
            position: relative;
            margin: 0.7em 0;
            width: 100%;
        }
        h1 {
            color: #fff;
            font-family: metropolis;
            font-size: 11px;
            font-weight: bold;
            margin: 0.8em 0;
        }
    }
}
