[submodule "src/Model"]
	path = src/Model
	url = https://github.com/hashmich/DHCR-Core
	branch = master
[submodule "plugins/DHCR-Core"]
	path = plugins/DHCR-Core
	url = https://github.com/hashmich/DHCR-Core.git
	branch = master
