[submodule "plugins/DhcrCore"]
	path = plugins/DhcrCore
	url = ../dhcr-core.git
	branch = master
[submodule "api/v1"]
	path = api/v1
	url = ../DHCR-API.git
	branch = API_v1
[submodule "api/v2"]
	path = api/v2
	url = ../DHCR-API.git
	branch = API_v2
[submodule "ops"]
    path = ops
    url = ../dhcr-back-end.git
    branch = master
