@charset "UTF-8";
/* Color schema */
/* general text formatting */
/* base layout & responsive sizing */
/* amount of space to reserve for lateral whitespace */
@font-face { font-family: Bebas; src: url(../fonts/bebas_neue/BebasNeue-Regular.otf) format("opentype"); }
@font-face { font-family: Bebas-Bold; src: url(../fonts/bebas_neue/BebasNeue-Bold.otf) format("opentype"); font-weight: bold; }
@font-face { font-family: Metropolis-SemiBold; src: url(../fonts/metropolis/Metropolis-SemiBold.otf) format("opentype"); font-weight: bolder; }
@font-face { font-family: Metropolis; src: url(../fonts/metropolis/Metropolis-Regular.otf) format("opentype"); }
/* breakpoint definition - use this mixin where appropriate */
/*
1080 - 1280

720 - 800

320
*/
@font-face { font-family: 'Glyphicons Halflings'; src: url("../fonts/glyphicons-halflings-regular.eot"); src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg") format("svg"); }
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons Halflings'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before { content: "\002a"; }

.glyphicon-plus:before { content: "\002b"; }

.glyphicon-euro:before, .glyphicon-eur:before { content: "\20ac"; }

.glyphicon-minus:before { content: "\2212"; }

.glyphicon-cloud:before { content: "\2601"; }

.glyphicon-envelope:before { content: "\2709"; }

.glyphicon-pencil:before { content: "\270f"; }

.glyphicon-glass:before { content: "\e001"; }

.glyphicon-music:before { content: "\e002"; }

.glyphicon-search:before { content: "\e003"; }

.glyphicon-heart:before { content: "\e005"; }

.glyphicon-star:before { content: "\e006"; }

.glyphicon-star-empty:before { content: "\e007"; }

.glyphicon-user:before { content: "\e008"; }

.glyphicon-film:before { content: "\e009"; }

.glyphicon-th-large:before { content: "\e010"; }

.glyphicon-th:before { content: "\e011"; }

.glyphicon-th-list:before { content: "\e012"; }

.glyphicon-ok:before { content: "\e013"; }

.glyphicon-remove:before { content: "\e014"; }

.glyphicon-zoom-in:before { content: "\e015"; }

.glyphicon-zoom-out:before { content: "\e016"; }

.glyphicon-off:before { content: "\e017"; }

.glyphicon-signal:before { content: "\e018"; }

.glyphicon-cog:before { content: "\e019"; }

.glyphicon-trash:before { content: "\e020"; }

.glyphicon-home:before { content: "\e021"; }

.glyphicon-file:before { content: "\e022"; }

.glyphicon-time:before { content: "\e023"; }

.glyphicon-road:before { content: "\e024"; }

.glyphicon-download-alt:before { content: "\e025"; }

.glyphicon-download:before { content: "\e026"; }

.glyphicon-upload:before { content: "\e027"; }

.glyphicon-inbox:before { content: "\e028"; }

.glyphicon-play-circle:before { content: "\e029"; }

.glyphicon-repeat:before { content: "\e030"; }

.glyphicon-refresh:before { content: "\e031"; }

.glyphicon-list-alt:before { content: "\e032"; }

.glyphicon-lock:before { content: "\e033"; }

.glyphicon-flag:before { content: "\e034"; }

.glyphicon-headphones:before { content: "\e035"; }

.glyphicon-volume-off:before { content: "\e036"; }

.glyphicon-volume-down:before { content: "\e037"; }

.glyphicon-volume-up:before { content: "\e038"; }

.glyphicon-qrcode:before { content: "\e039"; }

.glyphicon-barcode:before { content: "\e040"; }

.glyphicon-tag:before { content: "\e041"; }

.glyphicon-tags:before { content: "\e042"; }

.glyphicon-book:before { content: "\e043"; }

.glyphicon-bookmark:before { content: "\e044"; }

.glyphicon-print:before { content: "\e045"; }

.glyphicon-camera:before { content: "\e046"; }

.glyphicon-font:before { content: "\e047"; }

.glyphicon-bold:before { content: "\e048"; }

.glyphicon-italic:before { content: "\e049"; }

.glyphicon-text-height:before { content: "\e050"; }

.glyphicon-text-width:before { content: "\e051"; }

.glyphicon-align-left:before { content: "\e052"; }

.glyphicon-align-center:before { content: "\e053"; }

.glyphicon-align-right:before { content: "\e054"; }

.glyphicon-align-justify:before { content: "\e055"; }

.glyphicon-list:before { content: "\e056"; }

.glyphicon-indent-left:before { content: "\e057"; }

.glyphicon-indent-right:before { content: "\e058"; }

.glyphicon-facetime-video:before { content: "\e059"; }

.glyphicon-picture:before { content: "\e060"; }

.glyphicon-map-marker:before { content: "\e062"; }

.glyphicon-adjust:before { content: "\e063"; }

.glyphicon-tint:before { content: "\e064"; }

.glyphicon-edit:before { content: "\e065"; }

.glyphicon-share:before { content: "\e066"; }

.glyphicon-check:before { content: "\e067"; }

.glyphicon-move:before { content: "\e068"; }

.glyphicon-step-backward:before { content: "\e069"; }

.glyphicon-fast-backward:before { content: "\e070"; }

.glyphicon-backward:before { content: "\e071"; }

.glyphicon-play:before { content: "\e072"; }

.glyphicon-pause:before { content: "\e073"; }

.glyphicon-stop:before { content: "\e074"; }

.glyphicon-forward:before { content: "\e075"; }

.glyphicon-fast-forward:before { content: "\e076"; }

.glyphicon-step-forward:before { content: "\e077"; }

.glyphicon-eject:before { content: "\e078"; }

.glyphicon-chevron-left:before { content: "\e079"; }

.glyphicon-chevron-right:before { content: "\e080"; }

.glyphicon-plus-sign:before { content: "\e081"; }

.glyphicon-minus-sign:before { content: "\e082"; }

.glyphicon-remove-sign:before { content: "\e083"; }

.glyphicon-ok-sign:before { content: "\e084"; }

.glyphicon-question-sign:before { content: "\e085"; }

.glyphicon-info-sign:before { content: "\e086"; }

.glyphicon-screenshot:before { content: "\e087"; }

.glyphicon-remove-circle:before { content: "\e088"; }

.glyphicon-ok-circle:before { content: "\e089"; }

.glyphicon-ban-circle:before { content: "\e090"; }

.glyphicon-arrow-left:before { content: "\e091"; }

.glyphicon-arrow-right:before { content: "\e092"; }

.glyphicon-arrow-up:before { content: "\e093"; }

.glyphicon-arrow-down:before { content: "\e094"; }

.glyphicon-share-alt:before { content: "\e095"; }

.glyphicon-resize-full:before { content: "\e096"; }

.glyphicon-resize-small:before { content: "\e097"; }

.glyphicon-exclamation-sign:before { content: "\e101"; }

.glyphicon-gift:before { content: "\e102"; }

.glyphicon-leaf:before { content: "\e103"; }

.glyphicon-fire:before { content: "\e104"; }

.glyphicon-eye-open:before { content: "\e105"; }

.glyphicon-eye-close:before { content: "\e106"; }

.glyphicon-warning-sign:before { content: "\e107"; }

.glyphicon-plane:before { content: "\e108"; }

.glyphicon-calendar:before { content: "\e109"; }

.glyphicon-random:before { content: "\e110"; }

.glyphicon-comment:before { content: "\e111"; }

.glyphicon-magnet:before { content: "\e112"; }

.glyphicon-chevron-up:before { content: "\e113"; }

.glyphicon-chevron-down:before { content: "\e114"; }

.glyphicon-retweet:before { content: "\e115"; }

.glyphicon-shopping-cart:before { content: "\e116"; }

.glyphicon-folder-close:before { content: "\e117"; }

.glyphicon-folder-open:before { content: "\e118"; }

.glyphicon-resize-vertical:before { content: "\e119"; }

.glyphicon-resize-horizontal:before { content: "\e120"; }

.glyphicon-hdd:before { content: "\e121"; }

.glyphicon-bullhorn:before { content: "\e122"; }

.glyphicon-bell:before { content: "\e123"; }

.glyphicon-certificate:before { content: "\e124"; }

.glyphicon-thumbs-up:before { content: "\e125"; }

.glyphicon-thumbs-down:before { content: "\e126"; }

.glyphicon-hand-right:before { content: "\e127"; }

.glyphicon-hand-left:before { content: "\e128"; }

.glyphicon-hand-up:before { content: "\e129"; }

.glyphicon-hand-down:before { content: "\e130"; }

.glyphicon-circle-arrow-right:before { content: "\e131"; }

.glyphicon-circle-arrow-left:before { content: "\e132"; }

.glyphicon-circle-arrow-up:before { content: "\e133"; }

.glyphicon-circle-arrow-down:before { content: "\e134"; }

.glyphicon-globe:before { content: "\e135"; }

.glyphicon-wrench:before { content: "\e136"; }

.glyphicon-tasks:before { content: "\e137"; }

.glyphicon-filter:before { content: "\e138"; }

.glyphicon-briefcase:before { content: "\e139"; }

.glyphicon-fullscreen:before { content: "\e140"; }

.glyphicon-dashboard:before { content: "\e141"; }

.glyphicon-paperclip:before { content: "\e142"; }

.glyphicon-heart-empty:before { content: "\e143"; }

.glyphicon-link:before { content: "\e144"; }

.glyphicon-phone:before { content: "\e145"; }

.glyphicon-pushpin:before { content: "\e146"; }

.glyphicon-usd:before { content: "\e148"; }

.glyphicon-gbp:before { content: "\e149"; }

.glyphicon-sort:before { content: "\e150"; }

.glyphicon-sort-by-alphabet:before { content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before { content: "\e152"; }

.glyphicon-sort-by-order:before { content: "\e153"; }

.glyphicon-sort-by-order-alt:before { content: "\e154"; }

.glyphicon-sort-by-attributes:before { content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before { content: "\e156"; }

.glyphicon-unchecked:before { content: "\e157"; }

.glyphicon-expand:before { content: "\e158"; }

.glyphicon-collapse-down:before { content: "\e159"; }

.glyphicon-collapse-up:before { content: "\e160"; }

.glyphicon-log-in:before { content: "\e161"; }

.glyphicon-flash:before { content: "\e162"; }

.glyphicon-log-out:before { content: "\e163"; }

.glyphicon-new-window:before { content: "\e164"; }

.glyphicon-record:before { content: "\e165"; }

.glyphicon-save:before { content: "\e166"; }

.glyphicon-open:before { content: "\e167"; }

.glyphicon-saved:before { content: "\e168"; }

.glyphicon-import:before { content: "\e169"; }

.glyphicon-export:before { content: "\e170"; }

.glyphicon-send:before { content: "\e171"; }

.glyphicon-floppy-disk:before { content: "\e172"; }

.glyphicon-floppy-saved:before { content: "\e173"; }

.glyphicon-floppy-remove:before { content: "\e174"; }

.glyphicon-floppy-save:before { content: "\e175"; }

.glyphicon-floppy-open:before { content: "\e176"; }

.glyphicon-credit-card:before { content: "\e177"; }

.glyphicon-transfer:before { content: "\e178"; }

.glyphicon-cutlery:before { content: "\e179"; }

.glyphicon-header:before { content: "\e180"; }

.glyphicon-compressed:before { content: "\e181"; }

.glyphicon-earphone:before { content: "\e182"; }

.glyphicon-phone-alt:before { content: "\e183"; }

.glyphicon-tower:before { content: "\e184"; }

.glyphicon-stats:before { content: "\e185"; }

.glyphicon-sd-video:before { content: "\e186"; }

.glyphicon-hd-video:before { content: "\e187"; }

.glyphicon-subtitles:before { content: "\e188"; }

.glyphicon-sound-stereo:before { content: "\e189"; }

.glyphicon-sound-dolby:before { content: "\e190"; }

.glyphicon-sound-5-1:before { content: "\e191"; }

.glyphicon-sound-6-1:before { content: "\e192"; }

.glyphicon-sound-7-1:before { content: "\e193"; }

.glyphicon-copyright-mark:before { content: "\e194"; }

.glyphicon-registration-mark:before { content: "\e195"; }

.glyphicon-cloud-download:before { content: "\e197"; }

.glyphicon-cloud-upload:before { content: "\e198"; }

.glyphicon-tree-conifer:before { content: "\e199"; }

.glyphicon-tree-deciduous:before { content: "\e200"; }

.glyphicon-cd:before { content: "\e201"; }

.glyphicon-save-file:before { content: "\e202"; }

.glyphicon-open-file:before { content: "\e203"; }

.glyphicon-level-up:before { content: "\e204"; }

.glyphicon-copy:before { content: "\e205"; }

.glyphicon-paste:before { content: "\e206"; }

.glyphicon-alert:before { content: "\e209"; }

.glyphicon-equalizer:before { content: "\e210"; }

.glyphicon-king:before { content: "\e211"; }

.glyphicon-queen:before { content: "\e212"; }

.glyphicon-pawn:before { content: "\e213"; }

.glyphicon-bishop:before { content: "\e214"; }

.glyphicon-knight:before { content: "\e215"; }

.glyphicon-baby-formula:before { content: "\e216"; }

.glyphicon-tent:before { content: "\26fa"; }

.glyphicon-blackboard:before { content: "\e218"; }

.glyphicon-bed:before { content: "\e219"; }

.glyphicon-apple:before { content: "\f8ff"; }

.glyphicon-erase:before { content: "\e221"; }

.glyphicon-hourglass:before { content: "\231b"; }

.glyphicon-lamp:before { content: "\e223"; }

.glyphicon-duplicate:before { content: "\e224"; }

.glyphicon-piggy-bank:before { content: "\e225"; }

.glyphicon-scissors:before { content: "\e226"; }

.glyphicon-bitcoin:before { content: "\e227"; }

.glyphicon-btc:before { content: "\e227"; }

.glyphicon-xbt:before { content: "\e227"; }

.glyphicon-yen:before { content: "\00a5"; }

.glyphicon-jpy:before { content: "\00a5"; }

.glyphicon-ruble:before { content: "\20bd"; }

.glyphicon-rub:before { content: "\20bd"; }

.glyphicon-scale:before { content: "\e230"; }

.glyphicon-ice-lolly:before { content: "\e231"; }

.glyphicon-ice-lolly-tasted:before { content: "\e232"; }

.glyphicon-education:before { content: "\e233"; }

.glyphicon-option-horizontal:before { content: "\e234"; }

.glyphicon-option-vertical:before { content: "\e235"; }

.glyphicon-menu-hamburger:before { content: "\e236"; }

.glyphicon-modal-window:before { content: "\e237"; }

.glyphicon-oil:before { content: "\e238"; }

.glyphicon-grain:before { content: "\e239"; }

.glyphicon-sunglasses:before { content: "\e240"; }

.glyphicon-text-size:before { content: "\e241"; }

.glyphicon-text-color:before { content: "\e242"; }

.glyphicon-text-background:before { content: "\e243"; }

.glyphicon-object-align-top:before { content: "\e244"; }

.glyphicon-object-align-bottom:before { content: "\e245"; }

.glyphicon-object-align-horizontal:before { content: "\e246"; }

.glyphicon-object-align-left:before { content: "\e247"; }

.glyphicon-object-align-vertical:before { content: "\e248"; }

.glyphicon-object-align-right:before { content: "\e249"; }

.glyphicon-triangle-right:before { content: "\e250"; }

.glyphicon-triangle-left:before { content: "\e251"; }

.glyphicon-triangle-bottom:before { content: "\e252"; }

.glyphicon-triangle-top:before { content: "\e253"; }

.glyphicon-console:before { content: "\e254"; }

.glyphicon-superscript:before { content: "\e255"; }

.glyphicon-subscript:before { content: "\e256"; }

.glyphicon-menu-left:before { content: "\e257"; }

.glyphicon-menu-right:before { content: "\e258"; }

.glyphicon-menu-down:before { content: "\e259"; }

.glyphicon-menu-up:before { content: "\e260"; }

/* basic styles */
* { margin: 0; padding: 0; box-sizing: border-box; }

html { scroll-behavior: smooth; }

body { background-color: #fff; position: relative; font-family: Metropolis, sans-serif; font-size: 16px; line-height: 1.5; font-weight: normal; letter-spacing: normal; color: #6d7278; }

h1 { font-size: 40px; font-weight: bold; line-height: 1.5; color: #1E6BA3; }
@media only screen and (max-width: 750px) { h1 { font-size: 24px; line-height: normal; } }

h2 { font-family: Bebas, sans-serif; font-size: 30px; font-weight: normal; line-height: 0.8; color: #1E6BA3; }

h3 { font-size: 20px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #1E6BA3; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child { margin-top: 0; }

p { margin-bottom: 1.2em; text-align: left; line-height: 1.7em; }

ul, ol { margin-bottom: 1em; margin-left: 0.3em; }
ul li, ol li { line-height: 1.7em; margin-bottom: 0.3em; }

ul.custom-bullets { column-gap: 2em; list-style: none; }
@media only screen and (max-width: 530px) { ul.custom-bullets { column-count: 1; } }
ul.custom-bullets li { padding-left: 1em; text-indent: -1em; }
ul.custom-bullets li::before { content: "• "; color: #1E6BA3; }

dl dt, dl dd { font-size: 16px; font-family: Metropolis, sans-serif; font-weight: bold; color: #1E6BA3; display: block; }
dl dd { font-weight: normal; }

img { outline: none; }

em { font-size: 0.9em; font-weight: bold; letter-spacing: 0.08em; font-style: normal; white-space: nowrap; }

a { color: #1E6BA3; text-decoration: none; }
a:hover { text-decoration: underline; }

button, .button { height: 46px; outline: none; display: inline-block; position: relative; border-radius: 23px; border: solid 2px #1E6BA3; background-color: #fff; font-family: Bebas, sans-serif; font-size: 24px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; text-align: center; text-decoration: none; color: #1E6BA3; text-transform: uppercase; padding: 2px 20px 0; cursor: pointer; transition: all 0.3s; }
button:hover, button.animate, button.focus, .button:hover, .button.animate, .button.focus { transform: scale(1.1); text-decoration: none; }
button.icon, .button.icon { padding-left: 12px; }
button.icon .glyphicon, .button.icon .glyphicon { font-size: 0.8em; margin-right: 0.4em; }
button.back::before, button.continue::after, .button.back::before, .button.continue::after { width: 10px; height: 10px; display: inline-block; position: relative; left: 0; bottom: 2px; transform: rotate(135deg); border: 3px solid #1E6BA3; border-top: none; border-left: none; content: ''; margin-right: 5px; }
button.blue, .button.blue { background-color: #1E6BA3; color: #fff; }
button.blue.back::before, button.blue.continue::after, .button.blue.back::before, .button.blue.continue::after { border: 3px solid #fff; border-top: none; border-left: none; }
button.continue::after, .button.continue::after { transform: rotate(-45deg); margin-right: 0; margin-left: 5px; }
button.x-small, .button.x-small { height: 25px; border-radius: 12px; font-size: 17px; padding: 0 15px; border: 2px solid white; }
button.x-small.show_view::after, .button.x-small.show_view::after { width: 6px; height: 6px; display: inline-block; position: relative; left: 0; bottom: 2px; border: 2px solid #1E6BA3; border-top: none; border-left: none; content: ''; transform: rotate(-45deg); margin-left: 5px; }
button.x-small.back::before, .button.x-small.back::before { width: 6px; height: 6px; bottom: 2px; border: 2px solid #1E6BA3; border-top: none; border-left: none; }
button.x-small.blue, .button.x-small.blue { border: 2px solid #1E6BA3; }
button.x-small.blue.show_view::after, .button.x-small.blue.show_view::after { border-color: white; }
button.x-small:hover, .button.x-small:hover { transform: scale(1.05); }
button.small, .button.small { height: 30px; font-size: 20px; border-radius: 15px; padding-top: 2px; }
button.small:hover, button.small.animate, .button.small:hover, .button.small.animate { transform: scale(1.05); }

.button { padding-top: 7px; }

.button.x-small { padding-top: 1px; }

.buttons { display: flex; flex-wrap: wrap; justify-content: space-around; gap: 1em; margin: 5em 0 2em; padding: 0; }
.buttons button, .buttons .button { flex: 0 0 25%; margin: 0 0 20px; white-space: nowrap; }
.buttons button:hover, .buttons button.animate, .buttons .button:hover, .buttons .button.animate { transform: scale(1.05); transform-origin: left center; text-decoration: none; }
.buttons button:last-child:hover, .buttons button:last-child.animate, .buttons .button:last-child:hover, .buttons .button:last-child.animate { transform-origin: right center; }

hr { height: 2px; background-color: #1E6BA3; border: none; margin: 0; }

.hidden { display: none; }

.right { float: right; }

.clearfix::after { content: ""; clear: both; display: table; }

.recurring { background: url("../img/repeat.png") right bottom/contain no-repeat; padding-right: 1.4em; padding-bottom: 0.2em; line-height: 0.85em; font-size: inherit; display: inline-block; }

table .recurring { color: transparent; height: 15px; width: 15px; display: inline-block; background: url("../img/repeat.png") center/contain no-repeat; vertical-align: middle; }

.flex-columns { display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; }
.flex-columns .flex-item { flex: 0 1 45%; min-width: 300px; padding: 0 15px 15px; overflow: hidden; }
.flex-columns .flex-item:first-child { padding-left: 0; }
.flex-columns .flex-item:last-child { padding-right: 0; }
.flex-columns .flex-item.wide { flex: 0 1 55%; }
.flex-columns .flex-item.narrow { flex: 0 1 40%; }
.flex-columns .flex-item img { width: 100%; height: auto; }
.flex-columns .flex-item.triple { flex: 0 1 30%; min-width: 200px; }
@media only screen and (max-width: 750px) { .flex-columns { display: block; }
  .flex-columns .flex-item { margin-bottom: 3em; min-width: initial; padding: 0; } }

.css-columns { column-count: 2; column-gap: 1em; }
@media only screen and (max-width: 400px) { .css-columns { column-count: 1; } }
.css-columns.moderators .item, .css-columns.admins .item { -webkit-column-break-inside: avoid; /* Chrome, Safari */ page-break-inside: avoid; /* Theoretically FF 20+ */ break-inside: avoid-column; /* IE 11 */ }
.css-columns.moderators .item .country, .css-columns.admins .item .country { font-family: Metropolis, sans-serif; font-weight: bold; color: #1E6BA3; display: block; margin-bottom: 0; }
.css-columns.moderators .item .moderators a, .css-columns.admins .item .moderators a { color: #6d7278; }
.css-columns.admins { margin-bottom: 3em; }

.footer { font-family: Metropolis, sans-serif; font-size: 14px; color: #1E6BA3; }
.footer::after { content: ""; clear: both; display: table; }
.footer p { margin: 0; line-height: 1; }
.footer .imprint, .footer .license { font-weight: bold; }
.footer .imprint { float: left; }
.footer .copyright, .footer .license { float: right; }
.footer .license { margin-left: 0.5em; }

.tooltip { position: relative; display: inline-block; }

.tooltip .tooltiptext { visibility: hidden; font-size: 18px; width: 140px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 5px; position: absolute; z-index: 1; bottom: 150%; left: 50%; margin-left: -75px; opacity: 0; transition: opacity 0.3s; }

.tooltip .tooltiptext::after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; border-width: 5px; border-style: solid; border-color: #555 transparent transparent transparent; }

/* animate as required
.tooltip:hover .tooltiptext { visibility: visible; opacity: 1;
}
*/
.flash-message { position: fixed; width: 300px; height: auto; background-color: rgba(0, 0, 0, 0.8); z-index: 10000000; right: 50px; top: 50px; padding: 30px; border-radius: 8px; color: #ccc; }
@media only screen and (max-width: 750px) { .flash-message { top: 20px; right: 20px; } }

#modal-wrapper, .modal-wrapper { position: fixed; z-index: 1000000; width: 100vw; height: 100vh; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.8); display: flex; align-items: center; justify-content: center; }
#modal-wrapper #modal-content, #modal-wrapper .modal-content, .modal-wrapper #modal-content, .modal-wrapper .modal-content { width: 90%; max-width: 500px; height: auto; max-height: 95vh; background-color: white; padding: 30px; border-radius: 15px; overflow: hidden; position: relative; }
@media only screen and (max-width: 400px) { #modal-wrapper #modal-content, #modal-wrapper .modal-content, .modal-wrapper #modal-content, .modal-wrapper .modal-content { padding: 20px; } }
#modal-wrapper #modal-content #modal-close, #modal-wrapper #modal-content .modal-close, #modal-wrapper .modal-content #modal-close, #modal-wrapper .modal-content .modal-close, .modal-wrapper #modal-content #modal-close, .modal-wrapper #modal-content .modal-close, .modal-wrapper .modal-content #modal-close, .modal-wrapper .modal-content .modal-close { position: absolute; top: 15px; right: 15px; color: transparent; font-size: 0; line-height: 0; cursor: pointer; }
#modal-wrapper #modal-content #modal-close::after, #modal-wrapper #modal-content .modal-close::after, #modal-wrapper .modal-content #modal-close::after, #modal-wrapper .modal-content .modal-close::after, .modal-wrapper #modal-content #modal-close::after, .modal-wrapper #modal-content .modal-close::after, .modal-wrapper .modal-content #modal-close::after, .modal-wrapper .modal-content .modal-close::after { pointer-events: none; content: ''; position: relative; display: inline-block; box-sizing: border-box; width: 22px; height: 22px; border-radius: 100%; border: 3px solid #1E6BA3; background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, #1E6BA3 0%, #1E6BA3 44%, white 44%, white 56%, #1E6BA3 56%, #1E6BA3 100%); background: linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), linear-gradient(45deg, #1E6BA3 0%, #1E6BA3 44%, white 44%, white 56%, #1E6BA3 56%, #1E6BA3 100%); transition: all 0.3s ease; top: 2px; margin-left: 8px; }
#modal-wrapper #modal-content #modal-close:hover, #modal-wrapper #modal-content #modal-close:focus, #modal-wrapper #modal-content #modal-close.animate, #modal-wrapper #modal-content .modal-close:hover, #modal-wrapper #modal-content .modal-close:focus, #modal-wrapper #modal-content .modal-close.animate, #modal-wrapper .modal-content #modal-close:hover, #modal-wrapper .modal-content #modal-close:focus, #modal-wrapper .modal-content #modal-close.animate, #modal-wrapper .modal-content .modal-close:hover, #modal-wrapper .modal-content .modal-close:focus, #modal-wrapper .modal-content .modal-close.animate, .modal-wrapper #modal-content #modal-close:hover, .modal-wrapper #modal-content #modal-close:focus, .modal-wrapper #modal-content #modal-close.animate, .modal-wrapper #modal-content .modal-close:hover, .modal-wrapper #modal-content .modal-close:focus, .modal-wrapper #modal-content .modal-close.animate, .modal-wrapper .modal-content #modal-close:hover, .modal-wrapper .modal-content #modal-close:focus, .modal-wrapper .modal-content #modal-close.animate, .modal-wrapper .modal-content .modal-close:hover, .modal-wrapper .modal-content .modal-close:focus, .modal-wrapper .modal-content .modal-close.animate { text-decoration: none; }
#modal-wrapper #modal-content #modal-close:hover::after, #modal-wrapper #modal-content #modal-close:focus::after, #modal-wrapper #modal-content #modal-close.animate::after, #modal-wrapper #modal-content .modal-close:hover::after, #modal-wrapper #modal-content .modal-close:focus::after, #modal-wrapper #modal-content .modal-close.animate::after, #modal-wrapper .modal-content #modal-close:hover::after, #modal-wrapper .modal-content #modal-close:focus::after, #modal-wrapper .modal-content #modal-close.animate::after, #modal-wrapper .modal-content .modal-close:hover::after, #modal-wrapper .modal-content .modal-close:focus::after, #modal-wrapper .modal-content .modal-close.animate::after, .modal-wrapper #modal-content #modal-close:hover::after, .modal-wrapper #modal-content #modal-close:focus::after, .modal-wrapper #modal-content #modal-close.animate::after, .modal-wrapper #modal-content .modal-close:hover::after, .modal-wrapper #modal-content .modal-close:focus::after, .modal-wrapper #modal-content .modal-close.animate::after, .modal-wrapper .modal-content #modal-close:hover::after, .modal-wrapper .modal-content #modal-close:focus::after, .modal-wrapper .modal-content #modal-close.animate::after, .modal-wrapper .modal-content .modal-close:hover::after, .modal-wrapper .modal-content .modal-close:focus::after, .modal-wrapper .modal-content .modal-close.animate::after { transform: scale(1.05); }
#modal-wrapper #modal-content h1, #modal-wrapper .modal-content h1, .modal-wrapper #modal-content h1, .modal-wrapper .modal-content h1 { font-size: 25px; }
@media only screen and (max-width: 400px) { #modal-wrapper #modal-content h1, #modal-wrapper .modal-content h1, .modal-wrapper #modal-content h1, .modal-wrapper .modal-content h1 { font-size: 20px; } }

#page-head { position: relative; overflow: visible; width: calc(100% - 5px); margin: 1rem 3px; display: inline-flex; justify-content: space-between; align-items: center; flex-wrap: nowrap; height: auto; }
@media only screen and (max-width: 750px) { #page-head { margin: 13px; width: calc(100% - 50px); padding: 0 3px 13px 3px; border-bottom: 2px solid #1E6BA3; } }
#page-head #logo { flex-shrink: 0; white-space: nowrap; overflow: hidden; }
#page-head #logo a { display: block; line-height: 0; }
#page-head #logo a img { width: 300px; height: auto; }
@media only screen and (max-width: 750px) { #page-head #logo a img { width: 40vw; min-width: 180px; } }

body.users #page-head #logo { overflow: initial; transition: all 0.3s; }
body.users #page-head #logo a { display: block; float: left; margin-right: 5px; }
body.users #page-head #logo a img { width: auto; height: 46px; }
body.users #page-head #logo .blue.button.users { width: 48px; padding-left: 12px; color: transparent; border-bottom-right-radius: 0; border-top-right-radius: 0; line-height: initial; }
body.users #page-head #logo .blue.button.users:hover, body.users #page-head #logo .blue.button.users.animate, body.users #page-head #logo .blue.button.users.focus { transform: none; }
body.users #page-head #logo .blue.button.users .glyphicon { color: #fff; }
body.users #page-head #logo:hover, body.users #page-head #logo.animate, body.users #page-head #logo.focus { transform: scale(1.03); text-decoration: none; }

#menu { display: flex; justify-content: flex-end; align-items: center; height: 100%; width: auto; }
#menu button, #menu .button { margin: 0 10px; }
#menu button.menu-button, #menu .button.menu-button { position: relative; }
#menu button:last-child, #menu .button:last-child { margin-right: 0; }
#menu button:first-child, #menu .button:first-child { margin-left: 0; }
#menu button .glyphicon, #menu .button .glyphicon { font-size: 0; }
#menu button .glyphicon::before, #menu .button .glyphicon::before { font-size: 27px; }
@media only screen and (max-width: 750px) { #menu button, #menu .button { font-size: 23px; width: 50px; height: 50px; border-radius: 29px; padding-left: 0; padding-right: 0; margin: 0; margin-left: 10px; }
  #menu button#info-button, #menu .button#info-button { padding-top: 10px; }
  #menu button .glyphicon, #menu .button .glyphicon { margin-top: 2px; }
  #menu button .glyphicon::before, #menu .button .glyphicon::before { font-size: 27px; } }

#sitemap { display: none; }

#content #sitemap { display: block; }

#modal-wrapper.sitemap { padding: 15px 0; display: grid; grid-template-areas: ". display ."; grid-template-columns: min(15px) min(calc(100% - 2*15px), 90rem) min(40px); gap: 0; }
#modal-wrapper.sitemap #modal-content { grid-area: display; align-self: start; justify-self: end; width: initial; }
@media only screen and (max-width: 400px) { #modal-wrapper.sitemap { padding: 5px 0; grid-template-columns: 5px auto 5px; }
  #modal-wrapper.sitemap #modal-content { justify-self: stretch; } }

.home #modal-wrapper.sitemap { grid-template-columns: auto min(calc(100% - 2*15px), 90rem) auto; }

#sitemap ul, .sitemap ul { margin: 1.6em 0 1em; }
#sitemap ul ul, .sitemap ul ul { margin-top: 0; }
#sitemap p, .sitemap p { margin: 0 0 0.5em; }
#sitemap a, .sitemap a { color: inherit; }
#sitemap a:hover, #sitemap a:focus, #sitemap a.animate, .sitemap a:hover, .sitemap a:focus, .sitemap a.animate { text-decoration: underline; }
#sitemap .glyphicon, .sitemap .glyphicon { font-size: 0.9em; margin-right: 0.6em; color: #1E6BA3; position: relative; }
#sitemap ul, .sitemap ul { list-style: none; }
#sitemap ul li, .sitemap ul li { font-family: Bebas, sans-serif; font-size: 25px; font-weight: normal; line-height: 0.8; color: #1E6BA3; margin-bottom: 1em; }
#sitemap ul li:first-child, .sitemap ul li:first-child { margin-top: 0; }
#sitemap ul li ul, .sitemap ul li ul { margin-left: 1.5em; }
#sitemap ul li ul li, .sitemap ul li ul li { font-family: Metropolis, sans-serif; font-size: 18px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #6d7278; }

body.view .leaflet-marker-icon { cursor: default; }
body.view .button.show_view { display: none; }

body.index, body.view { height: 100vh; padding: 0 15px; max-width: 90rem; background-color: #fff; margin: 0 auto; width: calc(100% - 2 * 15px); overflow: hidden; }
@media only screen and (max-width: 750px) { body.index, body.view { padding: 0; margin: 0; max-width: initial; width: 100%; } }
body.index #container, body.view #container { height: calc(100% - 144px); display: flex; flex-wrap: nowrap; align-items: stretch; justify-content: space-between; position: relative; top: 0; overflow: hidden; }
body.index #container #view h1, body.view #container #view h1 { font-size: 25px; font-family: Metropolis; font-weight: bold; margin: 0 0 0.5em; padding-top: 1em; }
@media only screen and (max-width: 750px) { body.index #container #view h1, body.view #container #view h1 { font-size: 20px; } }
body.index #container #view .subtitle, body.view #container #view .subtitle { font-style: italic; font-size: 18px; }
@media only screen and (max-width: 750px) { body.index #container #view .subtitle, body.view #container #view .subtitle { font-size: 14px; } }
body.index #container #view .text, body.index #container #view .term, body.index #container #view .data, body.index #container #view a:not(.button), body.view #container #view .text, body.view #container #view .term, body.view #container #view .data, body.view #container #view a:not(.button) { font-size: 14px; }
body.index #container #view .strong, body.view #container #view .strong { font-weight: bold; margin-bottom: 0; color: #1E6BA3; }
body.index #container #view .text, body.view #container #view .text { white-space: pre-line; margin-bottom: 2em; }
body.index #container #view hr, body.view #container #view hr { margin-bottom: 2em; }
@media only screen and (max-width: 750px) { body.index #container #view hr, body.view #container #view hr { display: none; } }
body.index #container #view hr:last-child, body.view #container #view hr:last-child { margin-bottom: 0; }
body.index #container #view hr:last-child::after, body.view #container #view hr:last-child::after { content: ""; display: block; height: 5em; }
body.index #container #view #locationMap, body.view #container #view #locationMap { height: 300px; width: 100%; margin: 3em 0 3em; clear: both; }
@media only screen and (min-width: 751px) { body.index #container #view #locationMap, body.view #container #view #locationMap { display: none; } }
body.index #container #view #locationMap .leaflet-marker-icon, body.view #container #view #locationMap .leaflet-marker-icon { cursor: grab; }
body.index #container #view .buttons, body.view #container #view .buttons { display: flex; flex-wrap: wrap; justify-content: space-around; margin: 5px 0; padding: 0 0; border-bottom: 2px solid #1E6BA3; }
@media only screen and (max-width: 400px) { body.index #container #view .buttons, body.view #container #view .buttons { justify-content: center; } }
body.index #container #view .buttons button, body.index #container #view .buttons .button, body.view #container #view .buttons button, body.view #container #view .buttons .button { flex: 0 0 25%; min-width: 160px; margin: 0 10px 20px 10px; box-sizing: border-box; }
body.index #container #view .buttons button::before, body.index #container #view .buttons .button::before, body.view #container #view .buttons button::before, body.view #container #view .buttons .button::before { height: 7px; width: 7px; }
body.index #container #view .buttons button:hover, body.index #container #view .buttons button.animate, body.index #container #view .buttons .button:hover, body.index #container #view .buttons .button.animate, body.view #container #view .buttons button:hover, body.view #container #view .buttons button.animate, body.view #container #view .buttons .button:hover, body.view #container #view .buttons .button.animate { transform-origin: left center; text-decoration: none; }
body.index #container #view .buttons button:hover.sharing, body.index #container #view .buttons button.animate.sharing, body.index #container #view .buttons .button:hover.sharing, body.index #container #view .buttons .button.animate.sharing, body.view #container #view .buttons button:hover.sharing, body.view #container #view .buttons button.animate.sharing, body.view #container #view .buttons .button:hover.sharing, body.view #container #view .buttons .button.animate.sharing { transform-origin: right center; }
body.index #container #view .grid-container, body.view #container #view .grid-container { display: grid; grid-column-gap: 4%; grid-auto-flow: row; grid-template-columns: repeat(auto-fit, [col-start] minmax(250px, 48%) [col-end]); margin-bottom: 1em; }
@media only screen and (max-width: 980px) { body.index #container #view .grid-container, body.view #container #view .grid-container { grid-template-columns: [col-start] 100% [col-end]; } }
body.index #container #view .grid-container .item, body.view #container #view .grid-container .item { display: grid; grid-column-gap: 5%; grid-template-columns: [col-start] minmax(95px, 120px) [col-middle] 6.5fr [col-end]; padding: 0; margin-bottom: 0.15em; }
body.index #container #view .grid-container .item .term, body.index #container #view .grid-container .item .data, body.view #container #view .grid-container .item .term, body.view #container #view .grid-container .item .data { margin-bottom: 0.3em; }
@media only screen and (min-width: 751px) { body.index #container #view .grid-container .item .term, body.index #container #view .grid-container .item .data, body.view #container #view .grid-container .item .term, body.view #container #view .grid-container .item .data { margin-bottom: 0; } }
body.index #container #view .grid-container .item .term, body.view #container #view .grid-container .item .term { overflow: hidden; color: #1E6BA3; font-weight: bold; }
body.index #container #view .grid-container .item .data, body.view #container #view .grid-container .item .data { grid-column-end: span 1; overflow: hidden; }
body.index #container #view .grid-container .item.single-col, body.view #container #view .grid-container .item.single-col { grid-column: col-start 1 / col-end -1; grid-column-gap: 2%; grid-template-columns: repeat(2, [col-start] minmax(95px, 120px) [col-middle] 6.6fr [col-end]); }
@media only screen and (max-width: 980px) { body.index #container #view .grid-container .item.single-col, body.view #container #view .grid-container .item.single-col { grid-column-gap: 5%; } }
body.index #container #view .grid-container .item.single-col .data, body.view #container #view .grid-container .item.single-col .data { grid-column: col-middle 1 / col-end -1; }
body.index #container .loading, body.view #container .loading { height: 100%; width: 100%; font-size: 0; background: url("../img/loading.gif") center/contain no-repeat; }
@media only screen and (min-width: 751px) { body.index #container, body.view #container { min-width: 750px; }
  body.index #container #table, body.view #container #table { flex: 1 0 470px; margin-right: 15px; padding-top: 15px; position: relative; }
  body.index #container #table:before, body.view #container #table:before { content: ''; position: absolute; top: 0; display: block; height: 2px; background-color: #1E6BA3; width: calc(100% - 16px); }
  body.index #container #map-wrapper, body.view #container #map-wrapper { flex: 1 1 227px; position: relative; height: 100%; }
  body.index #container #map, body.view #container #map { height: calc(100% - 2em); }
  body.index #container #map-footer, body.view #container #map-footer { width: 100%; bottom: 0; position: absolute; }
  body.index #container #slide-control, body.index #container #container-footer, body.view #container #slide-control, body.view #container #container-footer { display: none; } }
@media only screen and (max-width: 750px) { body.index #container, body.view #container { width: 100%; min-width: initial; position: initial; }
  body.index #container #map-wrapper, body.view #container #map-wrapper { width: 100%; flex: 0 0 100%; }
  body.index #container #map, body.view #container #map { height: 100%; }
  body.index #container #map-footer, body.view #container #map-footer { display: none; }
  body.index #container #table, body.view #container #table { padding: 0 5px 0 15px; flex: 0 0 calc(100% - 15px); margin-right: 45px; }
  body.index #container #table::after, body.view #container #table::after { position: absolute; bottom: 0; width: 100%; height: 50px; background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #fff); background-image: linear-gradient(rgba(255, 255, 255, 0), #fff); border-bottom: 2px solid #1E6BA3; content: ""; z-index: 1000; pointer-events: none; }
  body.index #container #table .thumb, body.index #container #table .track, body.view #container #table .thumb, body.view #container #table .track { z-index: 1000; }
  body.index #container #slide-control, body.view #container #slide-control { display: block; position: absolute; height: 50px; width: 50px; bottom: 30px; left: 0; right: 0; margin: 0 auto; background: url("../img/slide-toggle.png") left top no-repeat; background-size: cover; z-index: 10000; cursor: pointer; transition: transform 0.3s; }
  body.index #container #slide-control:hover, body.view #container #slide-control:hover { transform: scale(1.1, 1.1); }
  body.index #container #container-footer, body.view #container #container-footer { display: block; position: absolute; width: calc(100% - 30px); margin: 0 auto; bottom: 10px; left: 0; right: 0; z-index: 10000; } }
body.index #container #table .error, body.view #container #table .error { height: 100%; }
body.index #container #table table, body.view #container #table table { font-size: 11px; white-space: normal; border-collapse: collapse; table-layout: fixed; width: 100%; margin-right: 5px; position: relative; }
@media only screen and (max-width: 750px) { body.index #container #table table, body.view #container #table table { font-size: 12px; } }
@media only screen and (max-width: 400px) { body.index #container #table table, body.view #container #table table { font-size: 11px; } }
@media only screen and (min-width: 1350px) { body.index #container #table table, body.view #container #table table { font-size: 12px; } }
@media only screen and (min-width: 1500px) { body.index #container #table table, body.view #container #table table { font-size: 14px; } }
body.index #container #table table th, body.index #container #table table td, body.view #container #table table th, body.view #container #table table td { border-bottom: 1px solid #d8d8d8; overflow: hidden; height: 41px; }
body.index #container #table table th:hover, body.index #container #table table td:hover, body.view #container #table table th:hover, body.view #container #table table td:hover { letter-spacing: 0; }
@media only screen and (max-width: 750px) { body.index #container #table table th.university, body.index #container #table table td.university, body.view #container #table table th.university, body.view #container #table table td.university { display: none; } }
body.index #container #table table tr, body.view #container #table table tr { font-family: Metropolis, sans-serif; letter-spacing: 0.0074em; }
body.index #container #table table tr.course-row, body.view #container #table table tr.course-row { cursor: pointer; }
body.index #container #table table tr.course-row:hover, body.view #container #table table tr.course-row:hover { color: #1E6BA3; font-weight: bold; letter-spacing: 0; }
body.index #container #table table tr.expansion-row button, body.index #container #table table tr.expansion-row .button, body.view #container #table table tr.expansion-row button, body.view #container #table table tr.expansion-row .button { margin-right: 0.8em; }
body.index #container #table table tr.expansion-row button:last-child, body.index #container #table table tr.expansion-row .button:last-child, body.view #container #table table tr.expansion-row button:last-child, body.view #container #table table tr.expansion-row .button:last-child { margin-right: 0; }
body.index #container #table table tr.expansion-row button:hover, body.index #container #table table tr.expansion-row .button:hover, body.view #container #table table tr.expansion-row button:hover, body.view #container #table table tr.expansion-row .button:hover { transform-origin: left center; }
@media only screen and (min-width: 751px) { body.index #container #table table tr.expansion-row button.show_map, body.index #container #table table tr.expansion-row .button.show_map, body.view #container #table table tr.expansion-row button.show_map, body.view #container #table table tr.expansion-row .button.show_map { display: none; } }
body.index #container #table table tr.expansion-row td, body.view #container #table table tr.expansion-row td { padding: 1.5em 0 2em; }
body.index #container #table table .expanded, body.index #container #table table .expanded + .expansion-row, body.view #container #table table .expanded, body.view #container #table table .expanded + .expansion-row { color: #1E6BA3; font-weight: bold; letter-spacing: 0; }
body.index #container #table table .expanded td, body.view #container #table table .expanded td { border-bottom: none; }
body.index #container #table table td, body.view #container #table table td { padding: 4px 8px 4px 2px; vertical-align: middle; }
body.index #container #table table td:last-child, body.view #container #table table td:last-child { padding-right: 0; }
body.index #container #table table tr:last-child td, body.view #container #table table tr:last-child td { border: none; }
body.index #container #table table th, body.view #container #table table th { font-family: Bebas; font-size: 24px; font-weight: normal; text-align: left; color: #1E6BA3; margin-left: 5px; white-space: nowrap; cursor: pointer; transition: all 0.3s; transform-origin: left center; }
body.index #container #table table th.name, body.view #container #table table th.name { width: 25%; }
body.index #container #table table th.university, body.view #container #table table th.university { width: 25%; }
body.index #container #table table th.location, body.view #container #table table th.location { width: 20%; }
body.index #container #table table th.period, body.view #container #table table th.period { width: 15%; }
body.index #container #table table th.type, body.view #container #table table th.type { width: 15%; }
@media only screen and (max-width: 750px) { body.index #container #table table th.name, body.view #container #table table th.name { width: 40%; }
  body.index #container #table table th.location, body.view #container #table table th.location { width: 25%; }
  body.index #container #table table th.period, body.view #container #table table th.period { width: 15%; }
  body.index #container #table table th.type, body.view #container #table table th.type { width: 20%; } }
body.index #container #table table th:hover, body.view #container #table table th:hover { transform: scale(1.05); }
body.index #container #table table th:last-child, body.view #container #table table th:last-child { margin-left: 0; }
body.index #container #table table th .desc, body.index #container #table table th .asc, body.view #container #table table th .desc, body.view #container #table table th .asc { width: 10px; height: 10px; display: inline-block; position: relative; left: 5px; bottom: 11px; transform: rotate(-135deg); border: 2px solid #1E6BA3; border-top: none; border-left: none; line-height: 0; font-size: 0; color: transparent; }
body.index #container #table table th .asc, body.view #container #table table th .asc { transform: rotate(45deg); bottom: 14px; }

/* MarkerCluster.css - Spider */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow { -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in; -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in; transition: transform 0.3s ease-out, opacity 0.3s ease-in; }

.leaflet-cluster-spider-leg { /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */ -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in; -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in; -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in; transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in; }

.marker-cluster { border: 5px solid rgba(255, 255, 255, 0.5); background-color: #1E6BA3; display: flex !important; flex-wrap: nowrap; justify-content: center; align-items: center; }
.marker-cluster div { text-align: center; color: #fff; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-weight: bold; line-height: 1; }

.marker-cluster-large { border-radius: 30px; }
.marker-cluster-large span { font-size: 24px; }

.marker-cluster-medium { border-radius: 25px; }
.marker-cluster-medium span { font-size: 20px; }

.marker-cluster-small { border-radius: 20px; }
.marker-cluster-small span { font-size: 15px; }

.leaflet-popup .leaflet-popup-close-button { display: none; }
.leaflet-popup .leaflet-popup-tip, .leaflet-popup .leaflet-popup-content-wrapper { background-color: #1E6BA3; }
.leaflet-popup .leaflet-popup-content { margin: 15px; }
.leaflet-popup .leaflet-popup-content::after { content: ""; clear: both; display: table; }
.leaflet-popup .leaflet-popup-content .buttons { min-width: 270px; float: right; }
.leaflet-popup .leaflet-popup-content .buttons::after { content: ""; clear: both; display: table; }
.leaflet-popup .leaflet-popup-content .button, .leaflet-popup .leaflet-popup-content button { margin: 0; float: right; display: inline-block; margin-left: 0.8em; transition: transform 0.3s; }
.leaflet-popup .leaflet-popup-content .button:last-child, .leaflet-popup .leaflet-popup-content button:last-child { margin-left: 0; }
.leaflet-popup .leaflet-popup-content .button:hover, .leaflet-popup .leaflet-popup-content button:hover { transform-origin: right center; }
@media only screen and (min-width: 751px) { .leaflet-popup .leaflet-popup-content .button.show_table, .leaflet-popup .leaflet-popup-content button.show_table { display: none; }
  .leaflet-popup .leaflet-popup-content .button.sharing, .leaflet-popup .leaflet-popup-content button.sharing { display: none; } }
.leaflet-popup .leaflet-popup-content p { color: #fff; font-family: Metropolis; font-size: 12px; position: relative; margin: 0.7em 0; width: 100%; }
.leaflet-popup .leaflet-popup-content h1 { color: #fff; font-family: Metropolis; font-size: 14px; font-weight: bold; margin: 0.8em 0; }

#map .leaflet-control-custom.show_filter_options { border: 3px solid wheat; }
@media only screen and (min-width: 751px) { #map .leaflet-control-custom.show_filter_options { display: none; } }

#filter-buttons { border-bottom: 2px solid #1E6BA3; margin-bottom: 15px; padding: 2px 0 15px; position: relative; width: calc(100% - 16px); }
#filter-buttons::after { content: ""; clear: both; display: table; }
#filter-buttons button { margin-right: 15px; transform-origin: left center; padding-top: 1px; }
#filter-buttons #reset { float: right; color: white; font-weight: bold; cursor: pointer; padding: 0 15px; }
#filter-buttons #reset::after { pointer-events: none; content: ''; position: relative; display: inline-block; box-sizing: border-box; width: 1em; height: 1em; border-radius: 100%; border: 2px solid #1E6BA3; background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, #1E6BA3 0%, #1E6BA3 44%, white 44%, white 56%, #1E6BA3 56%, #1E6BA3 100%); background: linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), linear-gradient(45deg, #1E6BA3 0%, #1E6BA3 44%, white 44%, white 56%, #1E6BA3 56%, #1E6BA3 100%); transition: all 0.3s ease; top: 2px; margin-left: 8px; }
#filter-buttons #reset:hover { text-decoration: none; }
#filter-buttons #reset:hover::after { transform: rotate(90deg); }

#modal-wrapper #modal-content { display: flex; flex-direction: column; align-items: stretch; align-content: flex-start; flex-wrap: nowrap; }
#modal-wrapper #modal-content #modal-scroll-container { margin-top: 1em; overflow: hidden auto; }
#modal-wrapper #modal-content hr { margin-bottom: 1em; }
#modal-wrapper #modal-content .selector-wrapper { display: inline-flex; flex-wrap: wrap; align-items: baseline; margin-bottom: 0.3em; }
#modal-wrapper #modal-content .selector-wrapper::after { content: ""; clear: both; display: table; }
#modal-wrapper #modal-content .selector-wrapper .input.select { position: relative; }
#modal-wrapper #modal-content .selector-wrapper .input.select::after { content: ''; display: block; position: absolute; width: 8px; height: 8px; right: 15px; top: 5px; border: 2px solid #1E6BA3; border-top: none; border-left: none; transform: rotate(45deg); cursor: pointer; pointer-events: none; transition: all 0.3s ease; }
#modal-wrapper #modal-content .selector-wrapper .input.select:hover::after { transform: rotate(225deg); top: 10px; }
#modal-wrapper #modal-content .selector-wrapper .input.select select { -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; cursor: pointer; background-color: transparent; font-family: Metropolis; }
#modal-wrapper #modal-content .selector-wrapper .input.select select:hover { background-color: #eee; }
#modal-wrapper #modal-content .selector-wrapper .input.select select::-ms-expand { display: none; }
#modal-wrapper #modal-content .selector-wrapper .input.select select:focus::-ms-value { background-color: transparent; }
#modal-wrapper #modal-content .selector-wrapper .input.select { overflow-x: hidden; width: auto; display: inline-block; border-radius: 14px; border: 2px solid #1E6BA3; position: relative; margin-right: 1em; margin-bottom: 0.6em; }
#modal-wrapper #modal-content .selector-wrapper .input.select select { height: 26px; padding: 7px 12px 5px; border: none; font-size: 12px; line-height: 13px; font-weight: bold; color: #1E6BA3; width: 180px; }
#modal-wrapper #modal-content .selector-wrapper .input.select select optgroup { font-weight: bold; }
#modal-wrapper #modal-content .selector-wrapper .selection-item { display: inline-block; border: 2px solid #1E6BA3; border-radius: 14px; padding: 7px 20px 6px 30px; margin-left: 1em; margin-bottom: 0.6em; font-size: 12px; line-height: 13px; font-weight: bold; color: white; background-color: #1E6BA3; position: relative; cursor: pointer; }
#modal-wrapper #modal-content .selector-wrapper .selection-item:first-child { margin-left: 0; }
#modal-wrapper #modal-content .selector-wrapper .selection-item::before { pointer-events: none; content: ''; position: absolute; display: block; box-sizing: border-box; width: 10px; height: 10px; background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%); background: linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), linear-gradient(45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%); transition: all 0.3s ease; top: 8px; left: 12px; }
#modal-wrapper #modal-content .selector-wrapper .selection-item:hover::before { transform: rotate(90deg); }
#modal-wrapper #modal-content .radio-selector { list-style: none; display: flex; align-items: center; justify-content: space-between; flex-wrap: nowrap; margin: 0; margin-bottom: 1rem; border: 2px solid #1E6BA3; border-radius: 14px; overflow: hidden; padding: 0; box-sizing: border-box; width: 100%; }
#modal-wrapper #modal-content .radio-selector li { font-size: 12px; font-weight: bold; color: #1E6BA3; padding: 3px 8px 2px; margin: 0; flex: 1 1 20%; }
#modal-wrapper #modal-content .radio-selector li.label { padding-left: 15px; flex: 0 0 130px; }
@media only screen and (max-width: 400px) { #modal-wrapper #modal-content .radio-selector li.label { flex: 0 0 110px; } }
#modal-wrapper #modal-content .radio-selector li.label .recurring { padding-right: 1.6em; padding-top: 0.2em; padding-bottom: 0.1em; }
#modal-wrapper #modal-content .radio-selector li.option { cursor: pointer; padding: 3px 8px 2px; text-align: center; }
@media only screen and (max-width: 400px) { #modal-wrapper #modal-content .radio-selector li.option { padding: 3px 5px 2px; } }
#modal-wrapper #modal-content .radio-selector li.option:last-child { padding-right: 12px; }
#modal-wrapper #modal-content .radio-selector li.option.selected { background-color: #1E6BA3; color: white; cursor: default; }
#modal-wrapper #modal-content .radio-selector li.option:hover { background-color: #1E6BA3; color: white; }
#modal-wrapper #modal-content .radio-selector li.option span.mobile { display: none; }
@media only screen and (max-width: 450px) { #modal-wrapper #modal-content .radio-selector li.option span.mobile { display: inline; } }
#modal-wrapper #modal-content .radio-selector li.option span.screen { display: inline; }
@media only screen and (max-width: 450px) { #modal-wrapper #modal-content .radio-selector li.option span.screen { display: none; } }

.sharing svg { width: 20px; height: 20px; margin-right: 7px; }
.sharing .row { display: flex; margin-top: 1em; justify-content: space-between; }
.sharing .row:first-child { margin: 0; }
.sharing .row.copy_to_clipboard { justify-content: flex-start; }
.sharing .row.copy_to_clipboard input { flex: 0 1 40%; min-width: 110px; height: 30px; border: 2px solid #1E6BA3; border-radius: 4px 0 0 4px; background-color: #fff; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 4px; border-right: none; }
.sharing .row.copy_to_clipboard button { flex: 0 0 auto; padding-left: 10px; border-radius: 0 15px 15px 0; border-left: none; }
.sharing .row.copy_to_clipboard button:hover { transform: none; background-color: #d8d8d8; }
.sharing .row .sharing-option { flex: 1 1 40%; display: inline-flex; align-items: center; justify-content: center; margin-right: 2em; color: #6d7278; text-align: center; font-size: 14px; font-weight: 500; line-height: 1.1; letter-spacing: 2px; text-transform: capitalize; text-decoration: none; white-space: nowrap; border-radius: 4px; border: 2px solid #d8d8d8; cursor: pointer; height: 30px; box-sizing: border-box; transition: all 0.3s; padding: 8px 0; }
.sharing .row .sharing-option:hover, .sharing .row .sharing-option.animate, .sharing .row .sharing-option.focus { font-size: 105%; text-decoration: underline; }
.sharing .row .sharing-option:last-child { margin-right: 0; }

/*# sourceMappingURL=home.css.map */
