@charset "UTF-8";
/* Color schema */
/* general text formatting */
/* base layout & responsive sizing */
/* amount of space to reserve for lateral whitespace */
@font-face {
  font-family: metropolis;
  src: url(../fonts/metropolis/Metropolis-Regular.otf); }
@font-face {
  font-family: metropolis;
  src: url(../fonts/metropolis/Metropolis-SemiBold.otf);
  font-weight: bold; }
@font-face {
  font-family: bebas;
  src: url(../fonts/bebas_neue/BebasNeue-Regular.otf); }
@font-face {
  font-family: bebas;
  src: url(../fonts/bebas_neue/BebasNeue-Bold.otf);
  font-weight: bold; }
/* breakpoint definition - use this mixin where appropriate */
/*
1080 - 1280

720 - 800

320
*/
/* basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: metropolis, Sans-Serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: normal;
  color: #6d7278; }

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  color: #1E6BA3; }
  @media only screen and (max-width: 750px) {
    h1 {
      font-size: 24px;
      line-height: normal; } }

h2 {
  font-family: bebas;
  font-size: 30px;
  font-weight: normal;
  line-height: 0.8;
  color: #1E6BA3; }

h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1E6BA3; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0; }

p {
  margin-bottom: 1.2em;
  text-align: left;
  line-height: 1.7em; }

ul, ol {
  margin-bottom: 0.6em;
  margin-left: 1em; }
  ul li, ol li {
    line-height: 1.7em;
    margin-bottom: 0.3em; }

dl dt, dl dd {
  font-size: 16px;
  font-family: metropolis, sans-serif;
  font-weight: bold;
  color: #1E6BA3;
  display: block; }
dl dd {
  font-weight: normal; }

img {
  outline: none; }

em {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.08em;
  font-style: normal;
  white-space: nowrap; }

a {
  color: #1E6BA3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button, .button {
  height: 46px;
  outline: none;
  display: inline-block;
  position: relative;
  border-radius: 23px;
  border: solid 2px #1E6BA3;
  background-color: #fff;
  font-family: bebas, Sans-Serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  color: #1E6BA3;
  text-transform: uppercase;
  padding: 2px 20px 0;
  cursor: pointer;
  transition: all 0.3s; }
  button:hover, button.animate, button.focus, .button:hover, .button.animate, .button.focus {
    transform: scale(1.1);
    text-decoration: none; }
  button.back::before, button.continue::after, .button.back::before, .button.continue::after {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 2px;
    transform: rotate(135deg);
    border: 3px solid #1E6BA3;
    border-top: none;
    border-left: none;
    content: '';
    margin-right: 5px; }
  button.blue, .button.blue {
    background-color: #1E6BA3;
    color: #fff; }
    button.blue.back::before, button.blue.continue::after, .button.blue.back::before, .button.blue.continue::after {
      border: 3px solid #fff;
      border-top: none;
      border-left: none; }
  button.continue::after, .button.continue::after {
    transform: rotate(-45deg);
    margin-right: 0;
    margin-left: 5px; }
  button.x-small, .button.x-small {
    height: 25px;
    border-radius: 12px;
    font-size: 17px;
    padding: 0 15px;
    border: 2px solid white; }
    button.x-small.show_view::after, .button.x-small.show_view::after {
      width: 6px;
      height: 6px;
      display: inline-block;
      position: relative;
      left: 0;
      bottom: 2px;
      border: 2px solid #1E6BA3;
      border-top: none;
      border-left: none;
      content: '';
      transform: rotate(-45deg);
      margin-left: 5px; }
    button.x-small.back::before, .button.x-small.back::before {
      width: 6px;
      height: 6px;
      bottom: 2px;
      border: 2px solid #1E6BA3;
      border-top: none;
      border-left: none; }
    button.x-small.blue, .button.x-small.blue {
      border: 2px solid #1E6BA3; }
      button.x-small.blue.show_view::after, .button.x-small.blue.show_view::after {
        border-color: white; }
    button.x-small:hover, .button.x-small:hover {
      transform: scale(1.05); }
  button.small, .button.small {
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    padding-top: 2px; }
    button.small:hover, button.small.animate, .button.small:hover, .button.small.animate {
      transform: scale(1.05); }

.button {
  padding-top: 7px; }

.button.x-small {
  padding-top: 1px; }

hr {
  height: 2px;
  background-color: #1E6BA3;
  border: none;
  margin: 0; }

.hidden {
  display: none; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.recurring {
  background: url("../img/repeat.png") right bottom/contain no-repeat;
  padding-right: 1.4em;
  padding-bottom: 0.2em;
  line-height: 0.85em;
  font-size: inherit;
  display: inline-block; }

table .recurring {
  color: transparent;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: url("../img/repeat.png") center/contain no-repeat;
  vertical-align: middle; }

.flex-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around; }
  .flex-columns .flex-item {
    flex: 0 1 45%;
    min-width: 300px;
    padding: 0 15px; }
    .flex-columns .flex-item.wide {
      flex: 0 1 60%; }
    .flex-columns .flex-item.narrow {
      flex: 0 1 30%; }
  .flex-columns .flex-item.triple {
    flex: 0 1 30%;
    min-width: 200px; }
  @media only screen and (max-width: 750px) {
    .flex-columns {
      display: block; }
      .flex-columns .flex-item {
        margin-bottom: 3em;
        min-width: initial;
        padding: 0; } }

.footer {
  font-family: metropolis, Sans-Serif;
  font-size: 14px;
  color: #1E6BA3; }
  .footer::after {
    content: "";
    clear: both;
    display: table; }
  .footer p {
    margin: 0;
    line-height: 1; }
  .footer .imprint, .footer .license {
    font-weight: bold; }
  .footer .imprint {
    float: left; }
  .footer .copyright, .footer .license {
    float: right; }
  .footer .license {
    margin-left: 0.5em; }

.tooltip {
  position: relative;
  display: inline-block; }

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 18px;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent; }

/* animate as required
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
*/
form label {
  font-weight: bold;
  color: #1E6BA3; }
form input, form textarea, form select {
  border: 1px solid #1E6BA3;
  border-radius: 4px;
  background-color: #fff;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px; }
form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-family: metropolis; }
  form select::-ms-expand {
    display: none; }
  form select:focus::-ms-value {
    background-color: transparent; }
form .input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em; }
  form .input label {
    flex: 0 0 40%;
    margin-bottom: 0.5em; }
  form .input input, form .input textarea, form .input select {
    flex: 0 0 50%;
    margin-bottom: 0.5em; }

html {
  scroll-behavior: smooth; }

body.info {
  padding: 10vw 15px;
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  width: calc(100% - 2 * 15px);
  position: relative; }

#page-head .back.button {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 2em; }
#page-head .clarin-dariah-logo {
  float: left;
  display: block;
  clear: both;
  margin-right: 50px;
  width: auto; }
  #page-head .clarin-dariah-logo img {
    display: block;
    width: 23vw;
    max-width: 256px;
    min-width: 120px;
    height: auto; }
@media only screen and (max-width: 750px) {
  #page-head .clarin-dariah-logo {
    float: none;
    display: block;
    width: min-content;
    margin: 0 auto 50px; }
    #page-head .clarin-dariah-logo img {
      height: 120px;
      width: auto; } }
#page-head h1 {
  margin: 0 auto 80px;
  text-align: center; }
#page-head p.intent {
  font-size: 1.95vw;
  line-height: 1.5;
  color: #1E6BA3;
  text-align: center;
  margin-bottom: 4em; }
  #page-head p.intent a {
    font-weight: bold; }
    #page-head p.intent a:hover {
      text-decoration: underline; }
  @media only screen and (min-width: 1127px) {
    #page-head p.intent {
      font-size: 24px; } }
  @media only screen and (max-width: 750px) {
    #page-head p.intent {
      font-size: 24px;
      text-align: center;
      margin: 0 auto 4em;
      max-width: 430px; } }
  @media only screen and (max-width: 750px) and (max-width: 690px) {
    #page-head p.intent {
      font-size: 20px; } }
  @media only screen and (max-width: 750px) and (max-width: 400px) {
    #page-head p.intent {
      font-size: 17px; } }

#accordeon .accordeon-item > h2 {
  border-top: 2px solid #d8d8d8;
  padding: 0.8em 2em 0.6em 0;
  font-family: metropolis, sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-transform: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s; }
  @media only screen and (max-width: 750px) {
    #accordeon .accordeon-item > h2 {
      font-size: 22px; } }
  @media only screen and (max-width: 400px) {
    #accordeon .accordeon-item > h2 {
      font-size: 25px; } }
  #accordeon .accordeon-item > h2::after {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0.9em;
    transform: rotate(45deg);
    border: 4px solid #1E6BA3;
    border-radius: 1px;
    border-top: none;
    border-left: none;
    content: '';
    margin-right: 5px; }
  #accordeon .accordeon-item > h2:hover {
    color: #6d7278; }
    #accordeon .accordeon-item > h2:hover::after {
      border-color: #6d7278;
      transform: scale(1.2) rotate(45deg);
      transform-origin: 100% center;
      bottom: 0.55em; }
#accordeon .accordeon-item:not(.open) .item-content {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden; }
#accordeon .accordeon-item:not(.open):last-child h2 {
  border-bottom: 2px solid #d8d8d8; }
#accordeon .accordeon-item.open h2::after {
  transform: rotate(-135deg);
  bottom: 0.55em; }
#accordeon .accordeon-item.open .item-content {
  padding: 2em 0 3em;
  max-height: 5000px;
  transition: max-height 0.5s ease-in; }
#accordeon .accordeon-item.open:last-child .item-content {
  border-bottom: 2px solid #d8d8d8; }
#accordeon .accordeon-item .item-content h3 {
  font-family: bebas, sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 1.3em; }
  @media only screen and (max-width: 750px) {
    #accordeon .accordeon-item .item-content h3 {
      font-size: 25px; } }
  @media only screen and (max-width: 400px) {
    #accordeon .accordeon-item .item-content h3 {
      font-size: 20px; } }
#accordeon .accordeon-item .item-content h4 {
  font-family: metropolis, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  color: #1E6BA3;
  margin-bottom: 1.5em; }
  @media only screen and (max-width: 750px) {
    #accordeon .accordeon-item .item-content h4 {
      font-size: 18px; } }
  @media only screen and (max-width: 400px) {
    #accordeon .accordeon-item .item-content h4 {
      font-weight: normal; } }
#accordeon .accordeon-item .item-content ul.custom-bullets.css-columns {
  column-gap: 2em;
  list-style: none;
  padding: 0;
  margin: 0; }
  @media only screen and (max-width: 530px) {
    #accordeon .accordeon-item .item-content ul.custom-bullets.css-columns {
      column-count: 1; } }
  #accordeon .accordeon-item .item-content ul.custom-bullets.css-columns li {
    padding-left: 1em;
    text-indent: -1em; }
  #accordeon .accordeon-item .item-content ul.custom-bullets.css-columns li::before {
    content: "• ";
    color: #1E6BA3; }
#accordeon .accordeon-item .item-content#imprint-content h2 {
  font-family: bebas, sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 1.3em; }
  @media only screen and (max-width: 750px) {
    #accordeon .accordeon-item .item-content#imprint-content h2 {
      font-size: 25px; } }
  @media only screen and (max-width: 400px) {
    #accordeon .accordeon-item .item-content#imprint-content h2 {
      font-size: 20px; } }
#accordeon .accordeon-item .item-content#imprint-content h3 {
  font-family: metropolis, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: none;
  color: #1E6BA3;
  margin-bottom: 0.3em; }
  @media only screen and (max-width: 750px) {
    #accordeon .accordeon-item .item-content#imprint-content h3 {
      font-size: 18px; } }
  @media only screen and (max-width: 400px) {
    #accordeon .accordeon-item .item-content#imprint-content h3 {
      font-weight: normal; } }
#accordeon .accordeon-item .item-content#imprint-content a {
  color: #1E6BA3; }
#accordeon .accordeon-item .item-content p {
  color: #6d7278; }
#accordeon .accordeon-item .item-content hr {
  margin: 2em 0;
  background-color: #d8d8d8; }
#accordeon .accordeon-item .item-content a:not(.button) {
  color: #6d7278;
  text-decoration: underline;
  font-size: inherit; }
  #accordeon .accordeon-item .item-content a:not(.button):hover {
    color: #1E6BA3; }
#accordeon .accordeon-item .item-content .css-columns {
  column-count: 2;
  column-gap: 1em; }
  @media only screen and (max-width: 400px) {
    #accordeon .accordeon-item .item-content .css-columns {
      column-count: 1; } }
  #accordeon .accordeon-item .item-content .css-columns.moderators .item {
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari */
    page-break-inside: avoid;
    /* Theoretically FF 20+ */
    break-inside: avoid-column;
    /* IE 11 */ }
    #accordeon .accordeon-item .item-content .css-columns.moderators .item .country {
      font-family: metropolis, sans-serif;
      font-weight: bold;
      color: #1E6BA3;
      display: block;
      margin-bottom: 0; }
#accordeon .accordeon-item .item-content .flex-columns {
  justify-content: space-between; }
  #accordeon .accordeon-item .item-content .flex-columns .flex-item:first-child {
    padding-left: 0; }
  #accordeon .accordeon-item .item-content .flex-columns .flex-item:last-child {
    padding-right: 0; }
  #accordeon .accordeon-item .item-content .flex-columns .flex-item .illustration {
    display: block;
    height: auto;
    width: 80%;
    margin: 0 0 3em; }
  #accordeon .accordeon-item .item-content .flex-columns .flex-item .logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 6em;
    display: block; }
    @media only screen and (max-width: 750px) {
      #accordeon .accordeon-item .item-content .flex-columns .flex-item .logo {
        max-width: 50%;
        margin: 0 auto 8em; } }
  #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5em 0 2em;
    padding: 0; }
    @media only screen and (max-width: 750px) {
      #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons {
        justify-content: space-around; } }
    @media only screen and (max-width: 400px) {
      #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons {
        justify-content: center; } }
    #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons button, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons .button {
      flex: 0 0 25%;
      min-width: 155px;
      margin: 0 10px 20px 10px; }
      @media only screen and (max-width: 400px) {
        #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons button, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons .button {
          margin-left: 0;
          margin-right: 0; } }
      #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons button:first-child, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons .button:first-child {
        margin-left: 0; }
      #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons button:hover, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons button.animate, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons .button:hover, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons .button.animate {
        transform: scale(1.05);
        transform-origin: left center;
        text-decoration: none; }
      #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons button:last-child:hover, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons button:last-child.animate, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons .button:last-child:hover, #accordeon .accordeon-item .item-content .flex-columns .flex-item .buttons .button:last-child.animate {
        transform-origin: right center; }
  #accordeon .accordeon-item .item-content .flex-columns .flex-item .iframe-container {
    overflow: hidden;
    position: relative; }
    #accordeon .accordeon-item .item-content .flex-columns .flex-item .iframe-container img.ratio {
      display: block;
      width: 100%;
      height: auto; }
    #accordeon .accordeon-item .item-content .flex-columns .flex-item .iframe-container iframe {
      border: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }

#footer {
  margin: 100px 0 0; }

/*# sourceMappingURL=info.css.map */
