/* Color scheme */
/* general text formatting */
/* base layout & responsive sizing */
/* amount of space to reserve for lateral whitespace */
@font-face {
  font-family: metropolis;
  src: url(../fonts/metropolis/Metropolis-SemiBold.otf); }
@font-face {
  font-family: bebas;
  src: url(../fonts/bebas_neue/BebasNeue-Regular.otf); }
/* breakpoint definition - use this mixin where appropriate */
/*
1080 - 1280

720 - 800

320
*/
/* basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px; }

/* test for system scrollbar width would not work using this
.scroll-container {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
        width: 0;
    }
}
*/
body {
  font-family: 'Assistant', Verdana, Helvetica, Arial, Sans-Serif;
  color: #000;
  padding: 0 10px;
  max-width: 90em;
  background-color: #fff;
  margin: 0 auto; }

h1 {
  font-size: 1.25em;
  letter-spacing: 0.08em;
  font-weight: normal; }

h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0 0em;
  text-align: left;
  line-height: 1.7em; }

h3 {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin: 1em 0 0em; }

h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0; }

p {
  margin-bottom: 1.2em;
  text-align: left;
  line-height: 1.7em; }

ul, ol {
  margin-bottom: 0.6em;
  margin-left: 1em; }
  ul li, ol li {
    line-height: 1.7em;
    margin-bottom: 0.3em; }

img {
  outline: none; }

em {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-style: normal; }

a {
  color: #1E6BA3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.button {
  display: block;
  text-decoration: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  border: 3px solid transparent;
  text-align: center;
  background-color: #1E6BA3;
  color: #fff;
  font-weight: bold;
  margin: 3em 0; }
  .button:hover {
    border: 3px solid #ddd;
    text-decoration: none; }
  .button a:hover {
    text-decoration: none; }

hr {
  height: 2px;
  color: #000;
  border: none;
  margin: 0; }

.right {
  text-align: right; }

.center {
  text-align: center; }

#header {
  font-size: 12px;
  padding: 0;
  margin-bottom: 2px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto; }
  #header #logo {
    width: 430px;
    flex-shrink: 0; }
    #header #logo img {
      display: block;
      float: left;
      margin: 10px; }
    #header #logo .title {
      min-height: 61px;
      margin: 0;
      margin-left: 10px;
      width: auto;
      padding: 10px; }
      #header #logo .title h1 {
        margin: 12px 0 0;
        font-weight: bold;
        text-transform: uppercase; }
      #header #logo .title a {
        text-decoration: none;
        font-size: 2em; }
      #header #logo .title span#h1 {
        color: #61A845;
        font-family: bebas, sans-serif;
        font-size: 45px;
        vertical-align: bottom;
        line-height: 30px;
        font-weight: normal;
        letter-spacing: 0; }
      #header #logo .title span#h2 {
        color: #2387aa;
        margin-right: 15px; }
      #header #logo .title span#h3 {
        color: #1E6BA3; }
      #header #logo .title #h2, #header #logo .title #h3 {
        letter-spacing: 3px;
        font-family: metropolis, sans-serif; }

body.home {
  height: 100vh;
  width: calc(100% - 20px);
  padding-bottom: 10px; }
  body.home #container {
    height: calc(100% - 140px);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    top: 0px;
    overflow: hidden; }
    body.home #container.screens {
      min-width: 750px; }
      body.home #container.screens #table {
        flex: 1 0 500px;
        margin-right: 10px; }
      body.home #container.screens #map {
        flex: 1 1 220px; }
    body.home #container.mobile {
      width: 100%; }
      body.home #container.mobile #table, body.home #container.mobile #map {
        width: 100%;
        flex: 0 0 100%; }
      body.home #container.mobile #slide-control {
        position: absolute;
        height: 50px;
        width: 40px;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #4A4A4A;
        z-index: 500;
        cursor: pointer; }
        body.home #container.mobile #slide-control:hover {
          background-color: #d58512; }
    body.home #container #table {
      padding: 1px; }
      body.home #container #table .error {
        height: 100%; }
      body.home #container #table .loading {
        height: 100%;
        font-size: 0; }

/* MarkerCluster.css - Spider */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; }

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in; }

/* MarkerCluster.Default.css */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6); }

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6); }

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6); }

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6); }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6); }

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6); }

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
  background-color: #b5e28c; }

.leaflet-oldie .marker-cluster-small div {
  background-color: #6ecc39; }

.leaflet-oldie .marker-cluster-medium {
  background-color: #f1d357; }

.leaflet-oldie .marker-cluster-medium div {
  background-color: #f0c20c; }

.leaflet-oldie .marker-cluster-large {
  background-color: #fd9c73; }

.leaflet-oldie .marker-cluster-large div {
  background-color: #f18017; }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px; }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif; }

.marker-cluster span {
  line-height: 30px; }

/*# sourceMappingURL=styles.css.map */
