/* Color schema */
/* general text formatting */
/* base layout & responsive sizing */
/* amount of space to reserve for lateral whitespace */
@font-face {
  font-family: metropolis;
  src: url(../fonts/metropolis/Metropolis-Regular.otf); }
@font-face {
  font-family: metropolis;
  src: url(../fonts/metropolis/Metropolis-SemiBold.otf);
  font-weight: bold; }
@font-face {
  font-family: bebas;
  src: url(../fonts/bebas_neue/BebasNeue-Regular.otf); }
@font-face {
  font-family: bebas;
  src: url(../fonts/bebas_neue/BebasNeue-Bold.otf);
  font-weight: bold; }
/* breakpoint definition - use this mixin where appropriate */
/*
1080 - 1280

720 - 800

320
*/
/* basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: metropolis, Sans-Serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: normal;
  color: #6d7278; }

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  color: #1E6BA3; }
  @media only screen and (max-width: 750px) {
    h1 {
      font-size: 24px;
      line-height: normal; } }

h2 {
  font-family: bebas;
  font-size: 30px;
  font-weight: normal;
  line-height: 0.8;
  color: #1E6BA3; }

h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1E6BA3; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0; }

p {
  margin-bottom: 1.2em;
  text-align: left;
  line-height: 1.7em; }

ul, ol {
  margin-bottom: 0.6em;
  margin-left: 1em; }
  ul li, ol li {
    line-height: 1.7em;
    margin-bottom: 0.3em; }

dl dt, dl dd {
  font-size: 16px;
  font-family: metropolis, sans-serif;
  font-weight: bold;
  color: #1E6BA3;
  display: block; }
dl dd {
  font-weight: normal; }

img {
  outline: none; }

em {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.08em;
  font-style: normal;
  white-space: nowrap; }

a {
  color: #1E6BA3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button, .button {
  height: 46px;
  outline: none;
  display: inline-block;
  position: relative;
  border-radius: 24px;
  border: solid 2px #1E6BA3;
  background-color: #fff;
  font-family: bebas;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  color: #1E6BA3;
  text-transform: uppercase;
  padding: 2px 20px 0;
  cursor: pointer;
  transition: all 0.3s; }
  button:hover, button.animate, button.focus, .button:hover, .button.animate, .button.focus {
    transform: scale(1.1);
    text-decoration: none; }
  button.back::before, button.continue::after, .button.back::before, .button.continue::after {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    left: 0;
    bottom: 2px;
    transform: rotate(135deg);
    border: 3px solid #1E6BA3;
    border-top: none;
    border-left: none;
    content: '';
    margin-right: 5px; }
  button.blue, .button.blue {
    background-color: #1E6BA3;
    color: #fff; }
    button.blue.back::before, button.blue.continue::after, .button.blue.back::before, .button.blue.continue::after {
      border: 3px solid #fff;
      border-top: none;
      border-left: none; }
  button.continue::after, .button.continue::after {
    transform: rotate(-45deg);
    margin-right: 0;
    margin-left: 5px; }

.button {
  padding-top: 7px; }

hr {
  height: 2px;
  background-color: #1E6BA3;
  border: none;
  margin: 0; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.recurring {
  background: url("../img/repeat.png") right bottom/contain no-repeat;
  padding-right: 1.4em;
  padding-bottom: 0.2em;
  line-height: 0.85em;
  font-size: inherit;
  display: inline-block; }

table .recurring {
  color: transparent;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: url("../img/repeat.png") center/contain no-repeat;
  vertical-align: middle; }

.flex-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around; }
  .flex-columns .flex-item {
    flex: 0 1 45%;
    min-width: 300px;
    padding: 0 15px; }
    .flex-columns .flex-item.wide {
      flex: 0 1 60%; }
    .flex-columns .flex-item.narrow {
      flex: 0 1 30%; }
  .flex-columns .flex-item.triple {
    flex: 0 1 30%;
    min-width: 200px; }
  @media only screen and (max-width: 750px) {
    .flex-columns {
      display: block; }
      .flex-columns .flex-item {
        margin-bottom: 3em;
        min-width: initial;
        padding: 0; } }

.grid-container {
  display: grid;
  grid-column-gap: 4%;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, [col-start] minmax(250px, 48%) [col-end]); }
  @media only screen and (max-width: 980px) {
    .grid-container {
      grid-template-columns: [col-start] 100% [col-end]; } }
  .grid-container .item {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: [col-start] minmax(95px, 4fr) [col-middle] 6.5fr [col-end]; }
    .grid-container .item .term {
      overflow: hidden; }
    .grid-container .item .data {
      grid-column-end: span 1;
      overflow: hidden; }
    .grid-container .item.single-col {
      grid-column: col-start 1 / col-end -1;
      grid-column-gap: 2%;
      grid-template-columns: repeat(2, [col-start] minmax(95px, 4fr) [col-middle] 6.6fr [col-end]); }
      @media only screen and (max-width: 980px) {
        .grid-container .item.single-col {
          grid-template-columns: [col-start] minmax(95px, 4fr) [col-middle] 6.5fr [col-end];
          grid-column-gap: 5%; } }
      .grid-container .item.single-col .data {
        grid-column: col-middle 1 / col-end -1; }

#header {
  position: relative;
  overflow: visible;
  width: calc(100% - 54px);
  margin: 27px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: auto; }
  @media only screen and (max-width: 750px) {
    #header {
      margin: 13px;
      width: calc(100% - 50px);
      padding: 0 10px 13px 8px;
      border-bottom: 2px solid #1E6BA3; } }
  #header #logo {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    /*
    @include respond-to(handhelds) {
        transform: scale(0.6);
        transform-origin: left center;
    }*/ }
    @media only screen and (max-width: 750px) {
      #header #logo a.img {
        display: none; } }
    #header #logo a.img img {
      display: block;
      float: left;
      margin: 0; }
    #header #logo .title {
      min-height: 61px;
      width: auto;
      float: left; }
      @media only screen and (min-width: 751px) {
        #header #logo .title h1 {
          font-weight: bold;
          text-transform: uppercase;
          line-height: normal; }
        #header #logo .title a {
          text-decoration: none; }
        #header #logo .title span#h1 {
          color: #61A845;
          font-family: bebas, sans-serif;
          font-size: 49.5px;
          vertical-align: bottom;
          line-height: 1;
          font-weight: normal;
          letter-spacing: 0; }
        #header #logo .title span#h2 {
          color: #07426e;
          margin-right: 16.5px; }
        #header #logo .title span#h3 {
          color: #1E6BA3; }
        #header #logo .title #h2, #header #logo .title #h3 {
          letter-spacing: 3.3px;
          font-family: metropolis, sans-serif;
          font-size: 26.4px; } }
      @media only screen and (max-width: 750px) {
        #header #logo .title h1 {
          font-weight: bold;
          text-transform: uppercase;
          line-height: normal; }
        #header #logo .title a {
          text-decoration: none; }
        #header #logo .title span#h1 {
          color: #61A845;
          font-family: bebas, sans-serif;
          font-size: 6.75vw;
          vertical-align: bottom;
          line-height: 1;
          font-weight: normal;
          letter-spacing: 0; }
        #header #logo .title span#h2 {
          color: #07426e;
          margin-right: 2.25vw; }
        #header #logo .title span#h3 {
          color: #1E6BA3; }
        #header #logo .title #h2, #header #logo .title #h3 {
          letter-spacing: 0.45vw;
          font-family: metropolis, sans-serif;
          font-size: 3.6vw; } }
      #header #logo .title h1 {
        margin: 7px 0 0; }
  #header #menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: auto; }
    #header #menu button, #header #menu .button {
      margin: 0 10px; }
      #header #menu button:last-child, #header #menu .button:last-child {
        margin-right: 0; }
      #header #menu button:first-child, #header #menu .button:first-child {
        margin-left: 0; }
      @media only screen and (max-width: 750px) {
        #header #menu button, #header #menu .button {
          font-size: 24px;
          width: 58px;
          height: 57px;
          border-radius: 29px;
          padding-left: 0;
          padding-right: 0;
          margin: 0; }
          #header #menu button#info-button, #header #menu .button#info-button {
            padding-top: 12px; }
          #header #menu button#login-button, #header #menu .button#login-button {
            display: none; } }

body.view .leaflet-marker-icon {
  cursor: default; }

body.index, body.view {
  height: 100vh;
  padding: 0 15px;
  max-width: 90rem;
  background-color: #fff;
  margin: 0 auto;
  width: calc(100% - 2 * 15px);
  overflow: hidden; }
  @media only screen and (max-width: 750px) {
    body.index, body.view {
      padding: 0;
      margin: 0;
      max-width: initial;
      width: 100%; } }
  body.index .overlay, body.view .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent; }
    body.index .overlay .overlay-container, body.view .overlay .overlay-container {
      margin: 0 auto;
      width: 100%;
      padding: 100px 135px 150px 135px;
      max-width: 90rem;
      background-color: #fff; }
      @media only screen and (max-width: 1000px) {
        body.index .overlay .overlay-container, body.view .overlay .overlay-container {
          padding: 90px 100px 100px; } }
      @media only screen and (max-width: 885px) {
        body.index .overlay .overlay-container, body.view .overlay .overlay-container {
          padding: 80px 70px 80px; } }
      @media only screen and (max-width: 750px) {
        body.index .overlay .overlay-container, body.view .overlay .overlay-container {
          padding: 50px 30px 50px; } }
      body.index .overlay .overlay-container.transparent, body.view .overlay .overlay-container.transparent {
        background: rgba(0, 0, 0, 0.4);
        height: 90vh; }
      body.index .overlay .overlay-container:last-child, body.index .overlay .overlay-container:first-child, body.view .overlay .overlay-container:last-child, body.view .overlay .overlay-container:first-child {
        min-height: 100vh;
        box-sizing: border-box; }
  body.index #intro .clarin-dariah-logo, body.view #intro .clarin-dariah-logo {
    float: left;
    display: block;
    clear: both;
    margin-right: 50px;
    width: auto; }
    body.index #intro .clarin-dariah-logo img, body.view #intro .clarin-dariah-logo img {
      display: block;
      width: 23vw;
      max-width: 256px;
      min-width: 120px;
      height: auto; }
@media only screen and (min-width: 751px) and (min-width: 1001px) {
  body.index #intro h1, body.view #intro h1 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal; }
  body.index #intro a, body.view #intro a {
    text-decoration: none; }
  body.index #intro span#h1, body.view #intro span#h1 {
    color: #61A845;
    font-family: bebas, sans-serif;
    font-size: 90px;
    vertical-align: bottom;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 0; }
  body.index #intro span#h2, body.view #intro span#h2 {
    color: #07426e;
    margin-right: 30px; }
  body.index #intro span#h3, body.view #intro span#h3 {
    color: #1E6BA3; }
  body.index #intro #h2, body.index #intro #h3, body.view #intro #h2, body.view #intro #h3 {
    letter-spacing: 6px;
    font-family: metropolis, sans-serif;
    font-size: 48px; } }
@media only screen and (min-width: 751px) and (max-width: 1000px) {
  body.index #intro h1, body.view #intro h1 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal; }
  body.index #intro a, body.view #intro a {
    text-decoration: none; }
  body.index #intro span#h1, body.view #intro span#h1 {
    color: #61A845;
    font-family: bebas, sans-serif;
    font-size: 9vw;
    vertical-align: bottom;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 0; }
  body.index #intro span#h2, body.view #intro span#h2 {
    color: #07426e;
    margin-right: 3vw; }
  body.index #intro span#h3, body.view #intro span#h3 {
    color: #1E6BA3; }
  body.index #intro #h2, body.index #intro #h3, body.view #intro #h2, body.view #intro #h3 {
    letter-spacing: 0.6vw;
    font-family: metropolis, sans-serif;
    font-size: 4.8vw; } }

  @media only screen and (max-width: 750px) {
    body.index #intro h1, body.view #intro h1 {
      font-weight: bold;
      text-transform: uppercase;
      line-height: normal; }
    body.index #intro a, body.view #intro a {
      text-decoration: none; }
    body.index #intro span#h1, body.view #intro span#h1 {
      color: #61A845;
      font-family: bebas, sans-serif;
      font-size: 12vw;
      vertical-align: bottom;
      line-height: 1;
      font-weight: normal;
      letter-spacing: 0; }
    body.index #intro span#h2, body.view #intro span#h2 {
      color: #07426e;
      margin-right: 4vw; }
    body.index #intro span#h3, body.view #intro span#h3 {
      color: #1E6BA3; }
    body.index #intro #h2, body.index #intro #h3, body.view #intro #h2, body.view #intro #h3 {
      letter-spacing: 0.8vw;
      font-family: metropolis, sans-serif;
      font-size: 6.4vw; }
    body.index #intro .clarin-dariah-logo, body.view #intro .clarin-dariah-logo {
      float: none;
      display: block;
      width: min-content;
      margin: 0 auto 50px; }
      body.index #intro .clarin-dariah-logo img, body.view #intro .clarin-dariah-logo img {
        height: 120px;
        width: auto; } }
  body.index #intro h1, body.view #intro h1 {
    margin: 0 auto 80px;
    text-align: center; }
  body.index #intro p.intent, body.view #intro p.intent {
    font-size: 1.95vw;
    line-height: 1.5;
    color: #1E6BA3; }
    @media only screen and (min-width: 1127px) {
      body.index #intro p.intent, body.view #intro p.intent {
        font-size: 24px; } }
    @media only screen and (max-width: 750px) {
      body.index #intro p.intent, body.view #intro p.intent {
        font-size: 24px;
        text-align: center;
        margin: 0 auto 1em;
        max-width: 430px; } }
  @media only screen and (max-width: 750px) and (max-width: 690px) {
    body.index #intro p.intent, body.view #intro p.intent {
      font-size: 20px; } }
  @media only screen and (max-width: 750px) and (max-width: 400px) {
    body.index #intro p.intent, body.view #intro p.intent {
      font-size: 17px; } }

  body.index #intro .flex-columns.buttons, body.view #intro .flex-columns.buttons {
    margin-top: 10vh; }
    body.index #intro .flex-columns.buttons .flex-item, body.view #intro .flex-columns.buttons .flex-item {
      position: relative; }
      body.index #intro .flex-columns.buttons .flex-item button, body.index #intro .flex-columns.buttons .flex-item .button, body.view #intro .flex-columns.buttons .flex-item button, body.view #intro .flex-columns.buttons .flex-item .button {
        position: absolute;
        display: block;
        width: min-content;
        white-space: nowrap;
        min-width: 200px;
        padding: 2px 20px 0; }
        body.index #intro .flex-columns.buttons .flex-item button.left, body.index #intro .flex-columns.buttons .flex-item .button.left, body.view #intro .flex-columns.buttons .flex-item button.left, body.view #intro .flex-columns.buttons .flex-item .button.left {
          right: 20px; }
        body.index #intro .flex-columns.buttons .flex-item button.right, body.index #intro .flex-columns.buttons .flex-item .button.right, body.view #intro .flex-columns.buttons .flex-item button.right, body.view #intro .flex-columns.buttons .flex-item .button.right {
          left: 20px; }
        @media only screen and (max-width: 750px) {
          body.index #intro .flex-columns.buttons .flex-item button, body.index #intro .flex-columns.buttons .flex-item .button, body.view #intro .flex-columns.buttons .flex-item button, body.view #intro .flex-columns.buttons .flex-item .button {
            margin: 0 auto 3em;
            position: static; } }
      body.index #intro .flex-columns.buttons .flex-item .button, body.view #intro .flex-columns.buttons .flex-item .button {
        padding-top: 7px; }
  body.index #intro .flex-item h2, body.view #intro .flex-item h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1.5em; }
  body.index #intro .flex-item .illustration, body.view #intro .flex-item .illustration {
    display: block;
    height: auto;
    width: calc(100% - 20px);
    margin-right: 15px;
    margin-left: 5px;
    margin-bottom: 50px; }
  @media only screen and (max-width: 750px) {
    body.index #intro .flex-item .illustration, body.view #intro .flex-item .illustration {
      width: calc(100% - 10vw);
      max-width: 400px;
      margin: 0 auto 4em; } }
  body.index #intro .flex-item p, body.view #intro .flex-item p {
    color: #1E6BA3;
    font-size: 1.95vw;
    line-height: 1.25; }
    @media only screen and (min-width: 1127px) {
      body.index #intro .flex-item p, body.view #intro .flex-item p {
        font-size: 24px; } }
    @media only screen and (max-width: 750px) {
      body.index #intro .flex-item p, body.view #intro .flex-item p {
        font-size: 24px;
        text-align: center;
        flex: 1 1 45%;
        margin: 0 auto 5em;
        max-width: 430px; } }
  @media only screen and (max-width: 750px) and (max-width: 690px) {
    body.index #intro .flex-item p, body.view #intro .flex-item p {
      font-size: 20px; } }
  @media only screen and (max-width: 750px) and (max-width: 400px) {
    body.index #intro .flex-item p, body.view #intro .flex-item p {
      font-size: 17px; } }

  body.index #container, body.view #container {
    height: calc(100% - 144px);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    top: 0px;
    overflow: hidden; }
    body.index #container #view h1, body.view #container #view h1 {
      font-size: 25px;
      font-family: metropolis;
      font-weight: bold;
      margin: 0 0 0.5em;
      padding-top: 1em; }
      @media only screen and (max-width: 750px) {
        body.index #container #view h1, body.view #container #view h1 {
          font-size: 20px; } }
    body.index #container #view .subtitle, body.view #container #view .subtitle {
      font-style: italic;
      font-size: 18px; }
      @media only screen and (max-width: 750px) {
        body.index #container #view .subtitle, body.view #container #view .subtitle {
          font-size: 14px; } }
    body.index #container #view .text, body.index #container #view .term, body.index #container #view .data, body.index #container #view a:not(.button), body.view #container #view .text, body.view #container #view .term, body.view #container #view .data, body.view #container #view a:not(.button) {
      font-size: 16px; }
      @media only screen and (max-width: 750px) {
        body.index #container #view .text, body.index #container #view .term, body.index #container #view .data, body.index #container #view a:not(.button), body.view #container #view .text, body.view #container #view .term, body.view #container #view .data, body.view #container #view a:not(.button) {
          font-size: 14px; } }
    body.index #container #view .strong, body.view #container #view .strong {
      font-weight: bold;
      margin-bottom: 0.3em; }
    body.index #container #view .text, body.view #container #view .text {
      white-space: pre-line;
      margin-bottom: 2em; }
    body.index #container #view hr, body.view #container #view hr {
      margin-bottom: 2em; }
      @media only screen and (max-width: 750px) {
        body.index #container #view hr, body.view #container #view hr {
          display: none; } }
      body.index #container #view hr:last-child, body.view #container #view hr:last-child {
        margin-bottom: 0; }
        body.index #container #view hr:last-child::after, body.view #container #view hr:last-child::after {
          content: "";
          display: block;
          height: 5em; }
    body.index #container #view #locationMap, body.view #container #view #locationMap {
      height: 300px;
      width: 100%;
      margin: 3em 0 3em;
      clear: both; }
      @media only screen and (min-width: 751px) {
        body.index #container #view #locationMap, body.view #container #view #locationMap {
          display: none; } }
      body.index #container #view #locationMap .leaflet-marker-icon, body.view #container #view #locationMap .leaflet-marker-icon {
        cursor: grab; }
    body.index #container #view .buttons, body.view #container #view .buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 2em 0;
      padding: 0 0 2em;
      border-bottom: 2px solid #1E6BA3; }
      @media only screen and (max-width: 400px) {
        body.index #container #view .buttons, body.view #container #view .buttons {
          justify-content: center; } }
      body.index #container #view .buttons button, body.index #container #view .buttons .button, body.view #container #view .buttons button, body.view #container #view .buttons .button {
        flex: 0 0 25%;
        min-width: 155px;
        margin: 0 10px 20px 10px; }
        @media only screen and (max-width: 400px) {
          body.index #container #view .buttons button, body.index #container #view .buttons .button, body.view #container #view .buttons button, body.view #container #view .buttons .button {
            margin-left: 0;
            margin-right: 0; } }
        body.index #container #view .buttons button:hover, body.index #container #view .buttons button.animate, body.index #container #view .buttons .button:hover, body.index #container #view .buttons .button.animate, body.view #container #view .buttons button:hover, body.view #container #view .buttons button.animate, body.view #container #view .buttons .button:hover, body.view #container #view .buttons .button.animate {
          transform: scale(1.05);
          transform-origin: left center;
          text-decoration: none; }
          body.index #container #view .buttons button:hover.sharing, body.index #container #view .buttons button.animate.sharing, body.index #container #view .buttons .button:hover.sharing, body.index #container #view .buttons .button.animate.sharing, body.view #container #view .buttons button:hover.sharing, body.view #container #view .buttons button.animate.sharing, body.view #container #view .buttons .button:hover.sharing, body.view #container #view .buttons .button.animate.sharing {
            transform-origin: right center; }
    body.index #container #view .grid-container, body.view #container #view .grid-container {
      margin-bottom: 1em; }
      body.index #container #view .grid-container .item, body.view #container #view .grid-container .item {
        padding: 0;
        margin-bottom: 0.15em; }
        body.index #container #view .grid-container .item.single-col, body.view #container #view .grid-container .item.single-col {
          margin-top: 0.3em; }
        body.index #container #view .grid-container .item .term, body.index #container #view .grid-container .item .data, body.view #container #view .grid-container .item .term, body.view #container #view .grid-container .item .data {
          margin-bottom: 0.3em; }
        body.index #container #view .grid-container .item .term, body.view #container #view .grid-container .item .term {
          color: #1E6BA3;
          font-weight: bold; }
    @media only screen and (min-width: 751px) {
      body.index #container, body.view #container {
        min-width: 750px; }
        body.index #container #table, body.view #container #table {
          flex: 1 0 500px;
          margin-right: 15px;
          padding-top: 15px;
          position: relative; }
          body.index #container #table:before, body.view #container #table:before {
            content: '';
            position: absolute;
            top: 0;
            display: block;
            height: 2px;
            background-color: #1E6BA3;
            width: calc(100% - 16px); }
        body.index #container #map, body.view #container #map {
          flex: 1 1 220px; }
        body.index #container #slide-control, body.view #container #slide-control {
          display: none; } }
    @media only screen and (max-width: 750px) {
      body.index #container, body.view #container {
        width: 100%;
        min-width: initial;
        position: initial; }
        body.index #container #map, body.view #container #map {
          width: 100%;
          flex: 0 0 100%; }
        body.index #container #table, body.view #container #table {
          padding: 0 5px 0 15px;
          flex: 0 0 calc(100% - 15px);
          margin-right: 45px; }
          body.index #container #table::after, body.view #container #table::after {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), #fff);
            background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
            border-bottom: 2px solid #1E6BA3;
            content: "";
            z-index: 1000;
            pointer-events: none; }
          body.index #container #table .thumb, body.index #container #table .track, body.view #container #table .thumb, body.view #container #table .track {
            z-index: 10000; }
        body.index #container #slide-control, body.view #container #slide-control {
          display: block;
          position: absolute;
          height: 50px;
          width: 50px;
          bottom: 10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: url("../img/slide-toggle.png") left top no-repeat;
          background-size: cover;
          z-index: 10000;
          cursor: pointer;
          transition: transform 0.3s; }
          body.index #container #slide-control:hover, body.view #container #slide-control:hover {
            transform: scale(1.1, 1.1); } }
    body.index #container #table .error, body.view #container #table .error {
      height: 100%; }
    body.index #container #table .loading, body.view #container #table .loading {
      height: 100%;
      width: 100%;
      font-size: 0;
      background: url("../img/loading.gif") center/contain no-repeat; }
    body.index #container #table table, body.view #container #table table {
      white-space: normal;
      font-size: 11px;
      table-layout: fixed;
      width: 100%;
      margin-right: 5px;
      position: relative; }
      @media only screen and (max-width: 750px) {
        body.index #container #table table, body.view #container #table table {
          font-size: 12px; } }
      @media only screen and (max-width: 400px) {
        body.index #container #table table, body.view #container #table table {
          font-size: 11px; } }
      @media only screen and (min-width: 1350px) {
        body.index #container #table table, body.view #container #table table {
          font-size: 12px; } }
      @media only screen and (min-width: 1500px) {
        body.index #container #table table, body.view #container #table table {
          font-size: 14px; } }
      body.index #container #table table th, body.index #container #table table td, body.view #container #table table th, body.view #container #table table td {
        border-bottom: 1px solid #d8d8d8;
        overflow: hidden;
        font-family: Helvetica, Verdana, Arial, Sans-Serif; }
        @media only screen and (max-width: 750px) {
          body.index #container #table table th.university, body.index #container #table table td.university, body.view #container #table table th.university, body.view #container #table table td.university {
            display: none; } }
      body.index #container #table table td, body.view #container #table table td {
        padding: 0 8px 4px 0;
        vertical-align: center; }
        body.index #container #table table td:last-child, body.view #container #table table td:last-child {
          padding-right: 0; }
      body.index #container #table table tr:last-child td, body.view #container #table table tr:last-child td {
        border: none; }
      body.index #container #table table th, body.view #container #table table th {
        font-family: bebas;
        font-size: 24px;
        font-weight: normal;
        text-align: left;
        color: #1E6BA3;
        margin-left: 5px;
        white-space: nowrap; }
        body.index #container #table table th.name, body.view #container #table table th.name {
          width: 25%; }
        body.index #container #table table th.university, body.view #container #table table th.university {
          width: 25%; }
        body.index #container #table table th.location, body.view #container #table table th.location {
          width: 20%; }
        body.index #container #table table th.period, body.view #container #table table th.period {
          width: 15%; }
        body.index #container #table table th.type, body.view #container #table table th.type {
          width: 15%; }
        @media only screen and (max-width: 750px) {
          body.index #container #table table th.name, body.view #container #table table th.name {
            width: 30%; }
          body.index #container #table table th.location, body.view #container #table table th.location {
            width: 25%; }
          body.index #container #table table th.period, body.view #container #table table th.period {
            width: 20%; }
          body.index #container #table table th.type, body.view #container #table table th.type {
            width: 25%; } }
        body.index #container #table table th:last-child, body.view #container #table table th:last-child {
          margin-left: 0; }
        body.index #container #table table th span, body.view #container #table table th span {
          width: 10px;
          height: 10px;
          display: inline-block;
          position: relative;
          left: 5px;
          bottom: 5px;
          transform: rotate(45deg);
          border: 2px solid #1E6BA3;
          border-top: none;
          border-left: none;
          cursor: pointer; }
          body.index #container #table table th span:hover, body.view #container #table table th span:hover {
            transform: rotate(-135deg);
            bottom: 1px; }

/* MarkerCluster.css - Spider */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; }

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in; }

.marker-cluster {
  border: 5px solid rgba(255, 255, 255, 0.5);
  background-color: #1E6BA3;
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .marker-cluster div {
    text-align: center;
    color: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1; }

.marker-cluster-large {
  border-radius: 30px; }
  .marker-cluster-large span {
    font-size: 24px; }

.marker-cluster-medium {
  border-radius: 25px; }
  .marker-cluster-medium span {
    font-size: 20px; }

.marker-cluster-small {
  border-radius: 20px; }
  .marker-cluster-small span {
    font-size: 15px; }

.leaflet-popup .leaflet-popup-close-button {
  display: none; }
.leaflet-popup .leaflet-popup-tip, .leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #1E6BA3; }
.leaflet-popup .leaflet-popup-content {
  margin: 15px; }
  .leaflet-popup .leaflet-popup-content::after {
    content: "";
    clear: both;
    display: table; }
  .leaflet-popup .leaflet-popup-content .show_view.button, .leaflet-popup .leaflet-popup-content button.show_view {
    height: 23px;
    border-radius: 12px;
    font-size: 12px;
    padding: 3px 15px 0;
    margin: 0;
    float: right;
    transition: transform 0.3s; }
    .leaflet-popup .leaflet-popup-content .show_view.button::after, .leaflet-popup .leaflet-popup-content button.show_view::after {
      width: 5px;
      height: 5px;
      display: inline-block;
      position: relative;
      left: 0;
      bottom: 1px;
      border: 2px solid #1E6BA3;
      border-top: none;
      border-left: none;
      content: '';
      transform: rotate(-45deg);
      margin-left: 5px; }
    .leaflet-popup .leaflet-popup-content .show_view.button:hover, .leaflet-popup .leaflet-popup-content button.show_view:hover {
      transform: scale(1.1);
      transform-origin: right center; }
  .leaflet-popup .leaflet-popup-content p {
    color: #fff;
    font-family: metropolis;
    font-size: 11px;
    position: relative;
    margin: 0.7em 0;
    width: 100%; }
  .leaflet-popup .leaflet-popup-content h1 {
    color: #fff;
    font-family: metropolis;
    font-size: 11px;
    font-weight: bold;
    margin: 0.8em 0; }

#filter {
  padding-bottom: 15px;
  border-bottom: 2px solid #1E6BA3;
  margin-bottom: 15px; }
  #filter::after {
    content: "";
    clear: both;
    display: table; }
  #filter form .styled-select {
    overflow-x: hidden;
    width: auto;
    display: inline-block;
    float: left;
    border-radius: 14px;
    border: 2px solid #1E6BA3;
    position: relative; }
    #filter form .styled-select::after {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      right: 15px;
      top: 7px;
      border: 2px solid #1E6BA3;
      border-top: none;
      border-left: none;
      transform: rotate(45deg);
      cursor: pointer;
      pointer-events: none; }
    #filter form .styled-select:hover::after {
      transform: rotate(225deg); }
    #filter form .styled-select select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      padding: 5px 12px;
      font-family: metropolis;
      height: 28px;
      border: none;
      font-size: 12px;
      line-height: 13px;
      font-weight: bold;
      color: #1E6BA3; }
      #filter form .styled-select select::-ms-expand {
        display: none; }
      #filter form .styled-select select:focus::-ms-value {
        background-color: transparent; }
    #filter form .styled-select.selected {
      border: none; }
      #filter form .styled-select.selected::after {
        border-color: #fff;
        top: 8px; }
      #filter form .styled-select.selected select {
        color: #fff;
        background-color: #1E6BA3;
        height: 32px;
        padding: 7px 14px; }
  #filter form ul.selection {
    list-style: none; }
    #filter form ul.selection li {
      display: inline-block;
      float: left;
      border: 2px solid #1E6BA3;
      border-radius: 14px;
      padding: 9px 15px 7px 30px;
      margin-left: 1em;
      font-size: 12px;
      line-height: 13px;
      font-weight: bold;
      color: #1E6BA3;
      position: relative;
      cursor: pointer; }
      #filter form ul.selection li::before {
        pointer-events: none;
        content: 'X';
        position: absolute;
        color: #6d7278;
        padding: 9px 5px 7px;
        left: 0;
        top: 0;
        border-right: 1px solid #6d7278;
        border-radius: 14px 0 0 14px; }
      #filter form ul.selection li:hover::before {
        background-color: #d8d8d8;
        color: black; }

/*# sourceMappingURL=styles.css.map */
