/* Color schema */
/* general text formatting */
/* base layout & responsive sizing */
/* amount of space to reserve for lateral whitespace */
@font-face {
  font-family: metropolis;
  src: url(../fonts/metropolis/Metropolis-SemiBold.otf); }
@font-face {
  font-family: bebas;
  src: url(../fonts/bebas_neue/BebasNeue-Regular.otf); }
/* breakpoint definition - use this mixin where appropriate */
/*
1080 - 1280

720 - 800

320
*/
/* basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px; }

body {
  font-family: Helvetica, Verdana, Arial, Sans-Serif;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 300;
  letter-spacing: -0.17px;
  color: #6d7278; }

h1 {
  font-family: metropolis;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  color: #1E6BA3; }
  @media only screen and (max-width: 750px) {
    h1 {
      font-size: 24px;
      line-height: normal; } }

h2 {
  font-family: bebas;
  font-size: 30px;
  font-weight: normal;
  line-height: 0.8;
  color: #1E6BA3; }

h3 {
  font-family: metropolis;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1E6BA3; }

h1:first-child, h2:first-child, h3:first-child, h4:first-child {
  margin-top: 0; }

p {
  margin-bottom: 1.2em;
  text-align: left;
  line-height: 1.7em; }

ul, ol {
  margin-bottom: 0.6em;
  margin-left: 1em; }
  ul li, ol li {
    line-height: 1.7em;
    margin-bottom: 0.3em; }

img {
  outline: none; }

em {
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-style: normal; }

a {
  color: #1E6BA3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button, .button {
  height: 46px;
  display: inline-block;
  border-radius: 24px;
  border: solid 2px #1E6BA3;
  background-color: transparent;
  font-family: bebas;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  color: #1E6BA3;
  text-transform: uppercase;
  padding: 2px 30px 0;
  cursor: pointer;
  transition: all 0.3s; }
  button.blue, .button.blue {
    background-color: #1E6BA3;
    color: #fff; }
  button:hover, button.animate, .button:hover, .button.animate {
    transform: scale(1.1);
    text-decoration: none; }

.button {
  padding-top: 7px; }

hr {
  height: 2px;
  color: #6d7278;
  border: none;
  margin: 0; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.tooltip {
  position: relative;
  text-decoration: none;
  cursor: pointer; }
  .tooltip:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 130%;
    left: 20%;
    background: #ffcb66;
    padding: 5px 15px;
    color: black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; }

.tooltip:hover:after {
  bottom: 100%;
  opacity: 1; }

.flex-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around; }
  .flex-columns .flex-item {
    flex: 0 1 45%;
    min-width: 300px;
    padding: 0 15px; }
  @media only screen and (max-width: 750px) {
    .flex-columns {
      display: block; }
      .flex-columns .flex-item {
        margin-bottom: 3em;
        min-width: initial; } }

#header {
  position: relative;
  overflow: visible;
  width: calc(100% - 54px);
  margin: 27px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: auto; }
  @media only screen and (max-width: 750px) {
    #header {
      margin: 13px;
      width: calc(100% - 50px);
      padding: 0 12px 13px 12px;
      border-bottom: 2px solid #1E6BA3; } }
  #header #logo {
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden; }
    @media only screen and (max-width: 750px) {
      #header #logo a.img {
        display: none; } }
    #header #logo a.img img {
      display: block;
      float: left;
      margin: 0; }
    @media only screen and (max-width: 750px) {
      #header #logo {
        transform: scale(0.8);
        transform-origin: left center; } }
    #header #logo .title {
      min-height: 61px;
      width: auto;
      float: left; }
      @media only screen and (min-width: 751px) {
        #header #logo .title {
          margin-left: 10px; } }
      #header #logo .title h1 {
        font-weight: bold;
        text-transform: uppercase;
        line-height: normal; }
      #header #logo .title a {
        text-decoration: none; }
      #header #logo .title span#h1 {
        color: #61A845;
        font-family: bebas, sans-serif;
        font-size: 49.5px;
        vertical-align: bottom;
        line-height: 1;
        font-weight: normal;
        letter-spacing: 0; }
      #header #logo .title span#h2 {
        color: #2387aa;
        margin-right: 16.5px; }
      #header #logo .title span#h3 {
        color: #1E6BA3; }
      #header #logo .title #h2, #header #logo .title #h3 {
        letter-spacing: 3.3px;
        font-family: metropolis, sans-serif;
        font-size: 26.4px; }
      #header #logo .title h1 {
        margin: 7px 0 0; }
  #header #menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: auto; }
    #header #menu button {
      margin: 0 10px; }
      #header #menu button:last-child {
        margin-right: 0; }
      #header #menu button:first-child {
        margin-left: 0; }
      @media only screen and (max-width: 750px) {
        #header #menu button {
          font-size: 24px;
          width: 58px;
          height: 58px;
          border-radius: 29px;
          padding: 2px 0 0;
          margin: 0; }
          #header #menu button#login-button {
            display: none; } }

body.home {
  height: 100vh;
  padding: 0 15px;
  max-width: 90rem;
  background-color: #fff;
  margin: 0 auto;
  width: calc(100% - 2 * 15px);
  overflow: hidden; }
  @media only screen and (max-width: 750px) {
    body.home {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 300;
      letter-spacing: normal;
      padding: 0;
      margin: 0;
      max-width: initial;
      width: 100%; } }
  body.home .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: transparent; }
    body.home .overlay .overlay-container {
      margin: 0 auto;
      width: calc(100vw - 15px);
      padding: 100px 135px 150px 135px;
      max-width: 90rem;
      min-height: 100vh;
      background-color: #fff; }
      @media only screen and (max-width: 1000px) {
        body.home .overlay .overlay-container {
          padding: 90px 100px 100px; } }
      @media only screen and (max-width: 885px) {
        body.home .overlay .overlay-container {
          padding: 80px 70px 80px; } }
      @media only screen and (max-width: 750px) {
        body.home .overlay .overlay-container {
          padding: 50px 30px 50px; } }
      body.home .overlay .overlay-container.transparent {
        background: rgba(0, 0, 0, 0.4);
        height: 90vh; }
      body.home .overlay .overlay-container:last-child {
        min-height: 100vh;
        box-sizing: border-box; }
  body.home #intro .clarin-dariah-logo, body.home #page-head .clarin-dariah-logo {
    float: left;
    display: block;
    clear: both;
    margin-right: 50px;
    width: auto; }
    body.home #intro .clarin-dariah-logo img, body.home #page-head .clarin-dariah-logo img {
      display: block;
      width: 23vw;
      max-width: 256px;
      min-width: 120px;
      height: auto; }
@media only screen and (min-width: 751px) and (min-width: 1001px) {
  body.home #intro h1, body.home #page-head h1 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal; }
  body.home #intro a, body.home #page-head a {
    text-decoration: none; }
  body.home #intro span#h1, body.home #page-head span#h1 {
    color: #61A845;
    font-family: bebas, sans-serif;
    font-size: 90px;
    vertical-align: bottom;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 0; }
  body.home #intro span#h2, body.home #page-head span#h2 {
    color: #2387aa;
    margin-right: 30px; }
  body.home #intro span#h3, body.home #page-head span#h3 {
    color: #1E6BA3; }
  body.home #intro #h2, body.home #intro #h3, body.home #page-head #h2, body.home #page-head #h3 {
    letter-spacing: 6px;
    font-family: metropolis, sans-serif;
    font-size: 48px; } }
@media only screen and (min-width: 751px) and (max-width: 1000px) {
  body.home #intro h1, body.home #page-head h1 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: normal; }
  body.home #intro a, body.home #page-head a {
    text-decoration: none; }
  body.home #intro span#h1, body.home #page-head span#h1 {
    color: #61A845;
    font-family: bebas, sans-serif;
    font-size: 9vw;
    vertical-align: bottom;
    line-height: 1;
    font-weight: normal;
    letter-spacing: 0; }
  body.home #intro span#h2, body.home #page-head span#h2 {
    color: #2387aa;
    margin-right: 3vw; }
  body.home #intro span#h3, body.home #page-head span#h3 {
    color: #1E6BA3; }
  body.home #intro #h2, body.home #intro #h3, body.home #page-head #h2, body.home #page-head #h3 {
    letter-spacing: 0.6vw;
    font-family: metropolis, sans-serif;
    font-size: 4.8vw; } }

  @media only screen and (max-width: 750px) {
    body.home #intro h1, body.home #page-head h1 {
      font-weight: bold;
      text-transform: uppercase;
      line-height: normal; }
    body.home #intro a, body.home #page-head a {
      text-decoration: none; }
    body.home #intro span#h1, body.home #page-head span#h1 {
      color: #61A845;
      font-family: bebas, sans-serif;
      font-size: 12vw;
      vertical-align: bottom;
      line-height: 1;
      font-weight: normal;
      letter-spacing: 0; }
    body.home #intro span#h2, body.home #page-head span#h2 {
      color: #2387aa;
      margin-right: 4vw; }
    body.home #intro span#h3, body.home #page-head span#h3 {
      color: #1E6BA3; }
    body.home #intro #h2, body.home #intro #h3, body.home #page-head #h2, body.home #page-head #h3 {
      letter-spacing: 0.8vw;
      font-family: metropolis, sans-serif;
      font-size: 6.4vw; } }
  @media only screen and (max-width: 690px) {
    body.home #intro .clarin-dariah-logo, body.home #page-head .clarin-dariah-logo {
      float: none;
      display: block;
      width: min-content;
      margin: 0 auto 50px; }
      body.home #intro .clarin-dariah-logo img, body.home #page-head .clarin-dariah-logo img {
        height: 120px;
        width: auto; } }
  body.home #intro h1, body.home #page-head h1 {
    margin: 0 auto 80px;
    text-align: center; }
  body.home #intro p, body.home #page-head p {
    font-size: 1.7vw;
    line-height: 1.5;
    color: #1E6BA3; }
    body.home #intro p em, body.home #page-head p em {
      font-weight: bold; }
    @media only screen and (min-width: 1270px) {
      body.home #intro p, body.home #page-head p {
        font-size: 24px; } }
    @media only screen and (max-width: 750px) {
      body.home #intro p, body.home #page-head p {
        font-size: 17px; } }
  body.home #intro .flex-item h2, body.home #page-head .flex-item h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 65px; }
  body.home #intro .flex-item p, body.home #page-head .flex-item p {
    color: #1E6BA3;
    font-size: 20px;
    line-height: 1.25; }
    @media only screen and (min-width: 1270px) {
      body.home #intro .flex-item p, body.home #page-head .flex-item p {
        font-size: 24px; } }
    @media only screen and (max-width: 750px) {
      body.home #intro .flex-item p, body.home #page-head .flex-item p {
        font-size: 17px;
        flex: 1 1 45%; } }
    @media only screen and (max-width: 400px) {
      body.home #intro .flex-item p, body.home #page-head .flex-item p {
        font-size: 15px; } }
  body.home #intro .flex-item button, body.home #intro .flex-item .button, body.home #page-head .flex-item button, body.home #page-head .flex-item .button {
    margin: 0 auto;
    display: block;
    width: min-content;
    white-space: nowrap; }
  body.home #container {
    height: calc(100% - 144px);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    top: 0px;
    overflow: hidden; }
    @media only screen and (min-width: 751px) {
      body.home #container {
        min-width: 750px; }
        body.home #container #table {
          flex: 1 0 500px;
          border-top: 2px solid #1E6BA3;
          margin-right: 15px;
          padding-top: 15px; }
        body.home #container #map {
          flex: 1 1 220px; }
        body.home #container #slide-control {
          display: none; } }
    @media only screen and (max-width: 750px) {
      body.home #container {
        width: 100%;
        min-width: initial;
        position: initial; }
        body.home #container #map {
          width: 100%;
          flex: 0 0 100%; }
        body.home #container #table {
          padding: 0 5px 0 15px;
          flex: 0 0 calc(100% - 15px);
          margin-right: 45px; }
          body.home #container #table::after {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-image: linear-gradient(to bottom, transparent, #fff);
            border-bottom: 2px solid #1E6BA3;
            content: ""; }
        body.home #container #slide-control {
          display: block;
          position: absolute;
          height: 50px;
          width: 50px;
          bottom: 10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: url("../img/slide-toggle.png") left top no-repeat;
          background-size: cover;
          z-index: 500;
          cursor: pointer;
          transition: transform 0.3s; }
          body.home #container #slide-control:hover {
            transform: scale(1.1, 1.1); } }
    body.home #container .leaflet-popup .leaflet-popup-tip, body.home #container .leaflet-popup .leaflet-popup-content-wrapper {
      background-color: #1E6BA3; }
    body.home #container .leaflet-popup .leaflet-popup-content p {
      color: #fff;
      font-family: metropolis;
      font-size: 11px;
      position: relative;
      margin: 0.7em 0;
      width: 100%; }
    body.home #container .leaflet-popup .leaflet-popup-content h1 {
      color: #fff;
      font-family: metropolis;
      font-size: 11px;
      font-weight: bold;
      margin: 0.8em 0; }
    body.home #container .leaflet-popup .leaflet-popup-content a.details {
      color: transparent;
      display: block;
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      border: solid 3px #fff;
      border-bottom: none;
      border-left: none;
      position: relative;
      left: calc(100% - 7px);
      border-radius: 1px;
      transition: transform 0.3s; }
      body.home #container .leaflet-popup .leaflet-popup-content a.details:hover {
        transform: scale(1.5) rotate(45deg);
        border-radius: 2px; }
    body.home #container #table .error {
      height: 100%; }
    body.home #container #table .loading {
      height: 100%;
      font-size: 0; }
    body.home #container #table table {
      white-space: normal;
      font-size: 11px;
      table-layout: fixed;
      margin-right: 5px;
      position: relative; }
      body.home #container #table table th, body.home #container #table table td {
        border-bottom: 1px solid #d8d8d8;
        overflow: hidden; }
      body.home #container #table table td {
        padding: 0 8px 4px 0;
        vertical-align: center; }
        body.home #container #table table td:last-child {
          padding-right: 0; }
        body.home #container #table table td span.recurring {
          color: transparent;
          height: 15px;
          width: 15px;
          display: inline-block;
          background: url("../img/repeat.png") center/contain no-repeat;
          vertical-align: middle; }
      body.home #container #table table tr:last-child td {
        border: none; }
      body.home #container #table table th {
        font-family: bebas;
        font-size: 24px;
        font-weight: normal;
        text-align: left;
        color: #1E6BA3;
        margin-left: 5px;
        white-space: nowrap; }
        body.home #container #table table th.name {
          width: 25%; }
        body.home #container #table table th.university {
          width: 25%; }
        body.home #container #table table th.location {
          width: 20%; }
        body.home #container #table table th.period {
          width: 20%; }
        body.home #container #table table th.type {
          width: 10%; }
        body.home #container #table table th:last-child {
          margin-left: 0; }
        body.home #container #table table th span {
          width: 10px;
          height: 10px;
          display: inline-block;
          position: relative;
          left: 5px;
          bottom: 5px;
          transform: rotate(45deg);
          border: 2px solid #1E6BA3;
          border-top: none;
          border-left: none;
          cursor: pointer; }
          body.home #container #table table th span:hover {
            transform: rotate(-135deg);
            bottom: 1px; }

/* MarkerCluster.css - Spider */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in; }

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in; }

.marker-cluster {
  border: 5px solid rgba(255, 255, 255, 0.5);
  background-color: #1E6BA3;
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }
  .marker-cluster div {
    text-align: center;
    color: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1; }

.marker-cluster-large {
  border-radius: 30px; }
  .marker-cluster-large span {
    font-size: 24px; }

.marker-cluster-medium {
  border-radius: 25px; }
  .marker-cluster-medium span {
    font-size: 20px; }

.marker-cluster-small {
  border-radius: 20px; }
  .marker-cluster-small span {
    font-size: 15px; }

/*# sourceMappingURL=styles.css.map */
